[2020-05-20 04:08] Keboo commented on #1846
Yep same at #1840. Should be resolved in tonight's 3.2.0 preview release.

[2020-05-20 04:08] #1846 closed

[2020-05-20 09:55] StefanoRivolta-Previero opened #1848 "Outlined TextBox Hint Background color is fixed to MaterialDesignPaper"
The Hint in the new MaterialDesignOutlinedTextFieldTextBox style is fixed and cannot be changed easily. It gets set in MaterialDesignTheme.TextBox.xaml in the MaterialDesignTextBoxBase style, under ControlTemplate.Triggers in the following Trigger, last setter:

                       <Trigger Property="wpf:TextFieldAssist.HasOutlinedTextField" Value="True">
                            <Setter Pro

[2020-05-20 10:02] StefanoRivolta-Previero commented on #1848
Actually, I've just seen the [release notes for 3.1.0](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/releases/tag/3.1.0) regarding ComboBox and it works the same.

This is the fix:

[code]

[2020-05-20 10:02] #1848 closed

[2020-05-20 11:21] rmorgan001 commented on #141
I just ran into this and wanted to leave a note that it's an issue with strongnamer. When it runs it is not properly updating the BAML (the compiled form of XAML). here is what worked for me.

public App()
{
    AppDomain.CurrentDomain.AssemblyResolve += CurrentDomainOnAssemblyResolve;
}

private Assembly CurrentDomainOnAssemblyResolve(object sender, ResolveEventArgs args)
{
    var assemblyName =

[2020-05-20 14:10] MoHa173 opened #1849 "Collapsed Expander crashes my app"
Hello Guys,
I have Tried to put a DataGrid in to an Expender Object.

On the MADesign Style my App was crashed, with the Win Styled Expander the app is working here my Code:

Working Code:
[code]
And the Code where crash:

[code]

I think the renderer trys in collapsed mode to render all Data inside my datasource without restrictions. And fills my RAM with lots off Data.

I think the solve is in t

[2020-05-20 15:12] DrCQ commented on #1705
Vote for:
 Rename ValidationErrorColor to be MaterialDesignValidationErrorColor
Change default behavior of DialogHost.DialogTheme to be Inherit
Remove Icon and IconType in favor of PackIcon and PackIconKind
Rename MaterialDesignColors.ColorManipulation.ColorHelper to ColorAssist

[2020-05-20 15:47] KillyMXI opened #1850 "ValidationAssist.PopupPlacement does not work as expected"
I have the following in my Xaml:
[code]
I expect the popup to show up on the right of the TextBox. But instead I get the following:

![image](https://user-images.githubusercontent.com/13851064/82466607-5269f080-9ac9-11ea-82b9-e4ac93250305.png)

There is another issue too. Alignment by the top edge produces bad looking result. VerticalAlignment is required for side placement, and better default to

[2020-05-20 16:01] DrCQ opened #1851 "In case of ValidationError red Border is displayed arround the hosting control"
I use the default ErrorTemplate for validation of the ComboBox Text property and in case of error the proper error message in red is displayed below the text border line.
` <ComboBox  IsEditable="True"  matD:HintAssist.Hint="Type text please ..." matD:HintAssist.IsFloating="True"
                   Text="{Binding ComboBoxText, Mode=TwoWay, UpdateSourceTrigger=PropertyChanged, ValidatesOnDataErrors

[2020-05-20 23:27] KillyMXI commented on #1850
I didn't realize Popup placement works back to front in Xaml and I have to use `md:ValidationAssist.PopupPlacement="Left"` instead.

Vertical offset is still an issue though.

[2020-05-21 04:10] greuelpirat commented on #1844
This is one of the issues I try to solve with #1838

[2020-05-21 07:07] adrianhara opened #1854 "Circular Progress Indicator disappears when Value equals Maximum"
I'm trying to use a circular progress indicator  Style="{StaticResource MaterialDesignCircularProgressBar} and if Maximum is equals to Value, it dissapears. I can reproduce this in the WPF demo app if I go to e.g. the animated circular progress bar, disable the animation and simply set e.g. Maximum="10" Value="10". Is this a bug or am I missing something?

Thanks!

[2020-05-21 07:49] Shreyasj96 commented on #495
Why doesn't clear button in the textbox doesn't bring focus back to the textbox after clearing the contents?

[2020-05-21 15:26] #1813 closed

[2020-05-21 21:24] saulzetler commented on #1837
How can I remove the padding around the menu items?

[2020-05-22 16:11] Dowlpack commented on #1832
Hi! May be I should Paste code here or [My repository](https://github.com/Dowlpack/flipper) is enough?

[2020-05-23 09:19] greuelpirat commented on #1854
I think this is a bug. An arc is used to draw the progress. And at 100 % the start point of the arc is identical to the end point. So nothing is drawn.

On https://material.io/components/progress-indicators#circular-progress-indicators the circular progress indicator also disappears when reached 100 %. But that would be an additional animation and requires an present circle to disappear.

I create

[2020-05-23 09:21] mincasoft opened #1858 "An error occurred while displaying the user interface"
![image](https://user-images.githubusercontent.com/42678520/82726533-060ff200-9d0f-11ea-832c-05c7ca445066.png)

I have a textbox set up with the attribute "Visibility = Collapsed"
I designed a button that performs a certain action. And without letting the user interact with the form while I wait, I set the IsEnabled = false property of usercontrol.
There is an error displayed as shown

[2020-05-23 09:55] adrianhara commented on #1854
Very nice work thanks! I figured out the problem was with the arc but I fixed it locally by drawing the arc minus 0.01 degrees if it was 360. Your solution is much better.

[2020-05-23 16:04] bezzad opened #1860 "HintAssist "Background" is not working at PasswordBox"
Why `HintAssist.Background` is not working at the `PasswordBox` element?
my **XAML** codes is like this:

[code]

But always the hint text background is `White`!

![image](https://user-images.githubusercontent.com/10928710/82735149-c2c87a00-9d34-11ea-8536-5d5358c83944.png)

[2020-05-24 05:21] Keboo commented on #1860
Looks like this is a bug. This property has not yet been implemented for the password box.

[2020-05-24 05:30] Keboo commented on #1858
Can you test with the latest `3.2.0-ci1494` to see if this issue is resolved. This looks like it might be the same issues as #1840

[2020-05-24 07:29] bezzad commented on #1860
No other way to change that hint background? I want to use `MaterialDesignOutlinedPasswordFieldPasswordBox` in my project password boxes in a dark theme!

[2020-05-24 10:07] greuelpirat commented on #1860
`HintAssist.Background` was moved with cf57a29 from Style to Template-Trigger. So it can not be overwritten any more. @Keboo do you know, why you changed that?

[2020-05-24 10:10] greuelpirat commented on #1851
The red border is the default error template. I guess there is an other component where you need to clear the `Validation.ErrorTemplate`

[2020-05-25 10:42] timunie commented on #1705
Hi @Keboo ,
I really like the new way the Resources are named in MahApps. It was quite a lot of work to get this done, but for the user it is much easier to remember the Keys IMO.

More info: https://mahapps.com/docs/guides/migration-to-v2.0#resource-keys

Just a suggestion, not a must have :-) .

Happy coding,
Tim

[2020-05-25 13:32] TarikAkyuz opened #1862 "Accessing BackgroundEllipse of MaterialDesignClock"
Is it possible to access `BackgroundEllipse `of `MaterialDesignClock `defines in [MaterialDesignTheme.Clock.xaml](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.Clock.xaml).
I need to change the opacity of `BackgroundEllipse`

[2020-05-25 15:20] #1862 closed

[2020-05-25 20:12] midasw opened #1863 "Buttons have different appearance from demo app"
Issue:
------

Buttons have missing hover background color and outlined button has purple outline instead of gray.

Steps to reproduce:
---------------------
Using Visual Studio Community 2019:
- Follow [Super Quick Start guide](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Super-Quick-Start)
- Add button to main window with `MaterialDesignFlatButton` style
- Add button

[2020-05-26 12:22] tensei commented on #1834
this issue still exists on version 3.1.3

[2020-05-26 13:02] Proless commented on #1834
with version 3.2.0-ci1494, i can confirm that the transparency/ dotted lines issue is fixed.

but the sizing issue of the DialogHost still exists.

[2020-05-26 16:24] mincasoft commented on #1858
Yes! version 3.2.0-ci1494 is OK

[2020-05-26 18:04] greuelpirat commented on #1863
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Super-Quick-Start is outdated.

There were Theme-Changes with `3.0.0` documented here: https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Getting-Started

Instead of ...
[code]
use:
[code]

The difference here is, that `materialDesign:BundledTheme` is setting some colors programmatically.  Without it, th

[2020-05-26 18:10] greuelpirat commented on #1863
I just updated https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Super-Quick-Start.
I hope that is okay.

[2020-05-26 18:26] #1851 closed

[2020-05-26 18:42] DrCQ opened #1865 "DataGridRow Style ignore Foreground value in release 1.2.6/3.1.3"
Hi, I just updated MD Colors to 1.2.6 and MD Themes to 3.1.3 (from 1.2.3/3.1.0) and all my color definitions and triggers for `DataGridRow` were lost.
` <Style x:Key="MainSubDataGridRowStyle" TargetType="{x:Type DataGridRow}" BasedOn="{StaticResource {x:Type DataGridRow}}">
        <Style.Triggers>
            <DataTrigger Binding="{Binding IsSubItem, Mode=OneWay}" Value="True">
                <S

[2020-05-26 19:55] #1858 closed

[2020-05-26 19:55] Keboo commented on #1858
Thanks, marking as resolved in 3.2.0

[2020-05-26 20:53] midasw commented on #1863
Thanks @greuelpirat! Completely overlooked that page of the documentation. It solves the problem nicely.

[2020-05-26 23:27] midasw commented on #1863
As for replicating the `MaterialDesignOutlinedButton` with grey outline, I defined a custom style like this:

[code]

[2020-05-27 04:43] greuelpirat commented on #1863
I agree, that the grey button should be available.

In the specs https://material.io/components/buttons#outlined-button the border is in fact grey and not in primary color. So I think that style should be added or even be the default outline style.

I think I will create pull request for that.

[2020-05-27 06:02] Keboo commented on #1705
@timunie yea I have been following the MahApp theming changes and want to take a look at structuring it in a similar manner.

[2020-05-27 06:07] #1854 closed

[2020-05-27 09:13] JohnyX commented on #1684
I still have a problem on 3.2.0 version.
![dropbox problem](https://user-images.githubusercontent.com/1100665/83000556-babe5200-a034-11ea-9e0c-a930786bcd62.gif)

[2020-05-27 20:20] w-syss commented on #1684
The current workaround is switching to classic-mode:
`materialDesign:ComboBoxAssist.ClassicMode="true"`.

I would like to tackle this issue at the core and don't add any more bandaid solutions. @Keboo is there a specification for this combobox? The only specification i found was the exposed dropdown menu [https://material.io/components/menus#exposed-dropdown-menu](https://material.io/components/me

[2020-05-28 02:24] midasw commented on #1863
@greuelpirat  I agree!

Apparently it was the default style at some point. See this screenshot from an old version of the demo app.

![DemoApp](https://user-images.githubusercontent.com/58330002/83091280-20452980-a09b-11ea-8a6e-09534ff6f8fc.PNG)

[2020-05-28 10:55] TheMightyBorkon opened #1867 "Spurious ResourceDictionary Warning 9 when unloading controls"
It appears that when controls are unloaded spurious warnings are being written to the Output window in VS. (I don't know where such warnings go in a Release build run outside of VS).

The warning text is this:

`System.Windows.ResourceDictionary Warning: 9 : Resource not found`

Note that the resource key is not given as part of the warning.

Here is a [GitHub repo](https://github.com/TheMightyBor

[2020-05-28 17:30] Keboo commented on #1867
Thank you for the bug write up. Will need to spend some time looking at the root cause of this.

[2020-05-29 00:01] my522cn opened #1870 "DataGridNumericUpDownColumn is not support for MaterialDesignThemes3.1.3 with MahApps.Metro2.0.0"
before MahApps.Metro2.0.0, DataGridNumericUpDownColumn is shown well.
after MahApps.Metro2.0.0, it blank, white foreground and white background.

[2020-05-29 17:07] jbooth88 opened #1871 "MaterialDesignFloatingHintTextBox IsEnabled takes priority over Visibility state"
The MaterialDesignFloatingHintTextBox style (perhaps other similar styles) will prioritize the disabled visual state over the visibility state.

Meaning a textbox with Enabled = False and Visibility = Collapsed will display a disabled text box instead of hiding its visibility. I'm not sure if this is by design, but the default textbox style does not follow this behaviour.

Repro xaml:

`   <TextBo

[2020-05-30 12:33] greuelpirat commented on #1867
This warning does not appear on current master. I tracked it down where they disappear to 736e7b32. So it seems that it is fixed with #1852.

I guess the two warnings are about the two missing colors that were added.

[2020-05-30 17:05] Keboo commented on #1867
Thanks @greuelpirat

[2020-05-30 17:05] #1867 closed

[2020-05-30 17:22] Codwy commented on #1863
Why the demo app is still using the old way to define themes while the new one is commented out in [App.xaml](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MainDemo.Wpf/App.xaml)?

[2020-05-31 05:58] darth-den-007 opened #1875 "Visual Studio 2019 is freezing when using custom colours"
Hello,

My Visual Studio is freezing when I tried to use custom colours. Here is what I did.

1. Use Visual Studio 2019 to create a new WPF App (.NET Core 3.1)
2. Install last version of MaterialDesignThemes and MaterialDesignColors
3. Follow the instructions from here: [https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Custom-Palette-Hues](https://github.com/MaterialDesignI

[2020-06-01 03:15] vsuyi commented on #1875
VS2019 stop response too when I try to "build" or "debug" solution on using PackIcon, it takes a while (minutes) and resume to OK.

[2020-06-01 12:32] gitjsdr26 opened #1878 "If SnackBar items queue is not empty while closing the application, application remains stalled."
If SnackBar items queue is not empty while closing the application, application remains stalled.
The application is locked into the loop `private void PumpAsync()`.

[code]

`_snackbarMessages.Count` is equal to 2, then it loops indefinitely.

[2020-06-01 13:22] talapoin opened #1879 "MaterialDesignTabRadioButton style for disabled state"
Hi,
I've just noticed that `MaterialDesignTabRadioButton` style when radio button is disabled is exactly same as when that button is enabled. This leads to confision.
![image](https://user-images.githubusercontent.com/39737429/83413131-9e972800-a41b-11ea-8495-fae960e74981.png)
See radio button with content "Second". It's disabled and looks exactly as the other two buttons that are enabled.

[2020-06-01 13:25] talapoin commented on #1879
I will make a PR with suggested change tomorrow.

[2020-06-02 06:22] talapoin commented on #1879
see #1881

[2020-06-02 08:31] TheMightyBorkon commented on #1867
I can confirm that using the latest pre-release build fixed this problem in that the warnings were no longer displayed.

Thanks for looking into this.

[2020-06-02 09:36] tomh333 opened #1882 "MaterialDesignFloatingHintTextBox in a dragablz control "leaves" dotted line when switching to other tab"
When updating the material design themes package to v3 (3.1.3.1513), the MaterialDesign text boxes used in a Dragablz control "leave" a dotted line when switching to another tab. This problem did not occur with the exact same code when using material design v2.

**Reproduction:**

- Clone https://github.com/tomh333/TextBoxBugReproduction/
- Restore nuget packages
- Debug
- Switch Tabs by clicking

[2020-06-02 10:45] lszczygielek opened #1883 "TextFieldAssist.HasClearButton changes size of control"
I found and issue with TextFieldAssist.HasClearButton="True". When my TextBox has it then when I type something and X icon appears, then control has a bigger height by 1 or 2 pixels. It makes size/location fluctuation on controls which are below.

This behavior is visible in demo application. Steps to reproduce:
Demo App > Fields > WiFi TextBox
1. Put value in TextBox.
2. Observe that controls bel

[2020-06-02 12:10] ApokalmiX commented on #1882
I have the same problem since the update, a fix is to encapsulate the content of your tabItem with an AdornerDecorator as follows:

                         <TabItem Header = "My TabItem">
                             <AdornerDecorator>
                                 <! - My TabItem content ->
                             </AdornerDecorator>
                         </TabItem>

[2020-06-02 12:58] w-syss commented on #1882
This is the current (refactored) logic of the BottomDashedLineAdorner.
[code]

`e.NewValue` is true if the control was disabled and false if the control was disabled.
I think this should actually be reversed:

[code]

Before i submit this pull request however i wanted to ask @greuelpirat (the original author) if he has any objections to this.

[2020-06-02 16:14] greuelpirat commented on #1882
I cloned https://github.com/tomh333/TextBoxBugReproduction and could reproduce the issue.

I updated local `TextBoxBugReproduction` to use current head of MDIX and it seems that #1842 fixed that. This pull request added the required `AdornerDecorator` as @ApokalmiX suggested.

![image](https://user-images.githubusercontent.com/16866222/83540365-7f21fd00-a4f8-11ea-932c-7dd5e5cbc43b.png)

@w-syss I

[2020-06-02 16:21] greuelpirat commented on #1863
@Codwy I do not know :-)

[2020-06-03 04:39] Keboo commented on #1871
This appears to be resolved in the latest 3.2.0 preview packages.

[2020-06-03 04:39] #1871 closed

[2020-06-03 04:49] Keboo commented on #1875
I am not able to reproduce this using Visual Studio 16.4.6.
I would suggest making sure you are on the [latest version of Visual Studio](https://docs.microsoft.com/en-us/visualstudio/install/update-visual-studio?view=vs-2019).
If that does not address it, I would file a bug with Microsoft using the [Submit feedback feature](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-

[2020-06-03 05:27] #1865 closed

[2020-06-03 05:34] #1863 closed

[2020-06-03 05:35] Keboo commented on #1863
@Codwy the reason the demo app uses the old way was simply an artifact of age, it should probably get updated to show the preferred approach.

[2020-06-03 06:47] Keboo commented on #1860
@greuelpirat This looks like a mistake on my part. The only reason for setting the background is for when there is a floating hint and a border. The floating hint needs to cover the outline rather than be transparent.

[2020-06-03 06:53] Keboo commented on #1870
I am not able to reproduce this with the MahApps demo application. Can you please post additional details; ideally a project that reproduces the problem.

[2020-06-03 07:06] #1879 closed

[2020-06-03 07:09] Keboo commented on #1883
I can confirm that there is a sizing change occurring, but it appears to be caused by the floating hint rather than the clear button.
![TextBoxSize](https://user-images.githubusercontent.com/952248/83606446-75b38780-a52e-11ea-80ac-160c005e0642.gif)

[2020-06-03 07:13] Keboo commented on #1882
Going to close this as the original issue has been addressed.
As for the attached property, I think leaving the IsAttached defaulting to false, is probably the better behavior.

[2020-06-03 07:13] #1882 closed

[2020-06-03 13:31] talapoin opened #1885 "MaterialDesignTabRadioButton does not support ButtonProgressAssist"
ButtonProgressAssist is not supported in MaterialDesignTabRadioButton style even though you can add attach ButtonProgressAssist to radio button with that style.
I'll suggest a PR with a change.

[2020-06-03 13:31] LeiYangGH commented on #1519
which version are you using? i'm using .net4.5 and see the same version. but if i clone latest MaterialDesignInXAML/MaterialDesignInXamlToolkit i didn't reproduce it.

[2020-06-03 15:43] greuelpirat commented on #1860
@bezzad I am working on this.

Currently you can work around this by overriding `MaterialDesignPaper` for your `PasswordBox`:

[code]

[2020-06-03 16:37] paypalsession commented on #1844
How would I do it using your improvements?

[2020-06-03 19:31] wim07101993 commented on #695
I am having a related issue with the TextBoxUnderlines:
![image](https://user-images.githubusercontent.com/23017340/83680645-86710580-a5e1-11ea-8157-cf824bc2b86e.png)

[2020-06-04 01:50] foxiexianmo commented on #1620
What a deep little secret ,I can't thank you enough!

[2020-06-04 06:36] minskowl opened #1887 "Chevron position in Expander"
Hi Team
Very often chevron on the right side not visible in UI. For change position need to override  expander triggers and all toggle buttons style.
Possible add some DependencyProperty for his position

[2020-06-04 07:50] bezzad commented on #1860
Thank you so much, that works perfectly.

[2020-06-04 08:54] paypalsession commented on #1844
I have the latest version downloaded and I tried doing that but it doesn't seem to work, it gets rid of the row lines, but not the specific line which I pointed out in the image above. Am I doing something wrong?

[2020-06-04 17:36] greuelpirat commented on #1844
[ci1494](https://www.nuget.org/packages/MaterialDesignThemes/3.2.0-ci1494) is the newest build, but it does not contain #1838. I do not know when the next release/prerelease will be available.

[2020-06-05 07:46] paypalsession commented on #1844
Ok will be looking out for it! Thanks anyways

[2020-06-05 07:46] #1844 closed

[2020-06-06 08:16] yanxiaodi opened #1894 "Prefix for TextBox"
Thanks all contributors of this awesome project and I am wondering if we can have a prefix for the TextBox? Just like the suffix like this:
![image](https://user-images.githubusercontent.com/3395915/83939563-202ef180-a832-11ea-8255-da1054cac9a8.png)

I didn't find any attributes that meet my requirement. Thank you very much.

[2020-06-06 14:15] jespersh commented on #1894
It is in the spec today it seems: https://material.io/components/text-fields search for "prefix".

Example with `$`:
![image](https://user-images.githubusercontent.com/1004198/83946024-a6394100-a80e-11ea-9678-52cd4d5cdadc.png)

Just hacking in a `$` example:
![image](https://user-images.githubusercontent.com/1004198/83946412-f6190780-a810-11ea-8502-063f24296059.png)

[2020-06-06 16:56] ghost opened #1896 "Update "MahApps Integration" of the wiki"
I think we have to update the App.xaml of the wiki when we use `MaterialDesignThemes.MahApps`.
So I suggested this code.
[code]

[2020-06-07 04:45] CorradoBarbero opened #1898 "Validation message/popup overlapping Outlined TextBox"
When using validation on an outlined TextBox, the message overlaps the border of the TextBox, as in the example here:
![image](https://user-images.githubusercontent.com/62978436/83960513-81070a00-a8c4-11ea-84aa-908874c9ec78.png)
The first TextBox uses the standard message, the second has
`materialDesign:ValidationAssist.UsePopup="True"
materialDesign:ValidationAssist.PopupPlacement="Bottom"`
but i

[2020-06-07 15:37] nonokme opened #1901 "Build error in VS2019 V16.6.1"
# Build error in VS2019 V16.6.1
# Compiling From Source error,MaterialDesignThemes.MahApps has loaded successfully,but the output:
Error restoring nuget package: unable to load project MaterialDesignThemes.MahApps Details of, operation failed.
1> ------ rebuild all started: Project: MaterialDesignColors.Wpf , configuration: debug any CPU------
1>Paket version 5.242.0
1>Paket version 5.242.0
1>F:\X

[2020-06-08 05:23] #1860 closed

[2020-06-08 06:44] #1883 closed

[2020-06-08 07:45] Keboo commented on #1896
Yes the wiki does need to be updated. Let me take a look at it, I think there are additional changes that need to be done to support the 2.0.0 release.

[2020-06-08 07:55] Keboo commented on #1887
@minskowl can you provide a screenshot of the behavior you are describing. I am not sure I understand the issue.

[2020-06-08 07:57] Keboo commented on #695
@wim07101993 Can you test with the latest 3.2.0 preview NuGet package, I believe your issue is already resolved.

[2020-06-08 11:27] quicoli opened #1905 "DatePicker style with margin issues"
Have some of you seen this before?

Version 3

![image](https://user-images.githubusercontent.com/8388239/84025324-4021fa80-a983-11ea-99be-f79a61ad21e8.png)

[2020-06-09 04:57] mey1k opened #1908 "Image Label Button"
hi, i want to use custom imagebtn(basedon materialbtn)

below is my code
-----------------------------------------------------------------------------------------------------
        <Button Style="{StaticResource MaterialDesignImageButton}"  Template="{StaticResource ImageBtnTemplate}" Content="Hello world" ></Button>
-------------------------------------------------------------------------------

[2020-06-09 14:51] danielGarciaBezzier opened #1911 "Bug in a hidden textbox"
When a textbox has IsEnabled property set to false and Visibility = Hidden. The dotted underline is visible but the rest of the control dissappear correctly. Version 3.1.3
An example of my case:

`  <TextBox IsEnabled="False" Visibility="Hidden">
                            <materialDesign:HintAssist.Hint>
                                <StackPanel Orientation="Horizontal" Margin="-2 0 0 0">

[2020-06-09 17:18] MetalWing opened #1912 "[Question] Changing title bar color?"
I am trying to convert an app that was designed using Mah.Metro to be completely MaterialDesign. I want no trace of MahApps.

However, the main window XAML uses `WindowTitleBrush="{Binding StatusColour}"` which seems to only be available in `mah:MetroWindow`

Am I going to have to go with integrating MaterialDesign into the Mah.Metro app? Or is there a way to change window title bar in the toolkit

[2020-06-10 07:39] Lungbo commented on #1901
Hi,
I'm facilitated, that someone else has the same problem. So as you can see you are not the only one with this problem. I don't know what to do also.
Best Regards

[2020-06-10 23:27] CorradoBarbero commented on #1912
As far as I know WPF does not have any native way of interacting with the window chrome, so MaterialDesignInXAML simply cannot do it.
I use Syncfusion Chromeless Window.
HTH.

[2020-06-11 04:38] devriesb13 opened #1913 "SecondaryColor Enum"
Hi there,

Can these values be added to the secondary color enum? You can set these color in the color tool demo and would help with persisting settings.

![image](https://user-images.githubusercontent.com/10214916/84345540-02c2a480-abf1-11ea-9dec-8862b4c09c73.png)

Cheers

[2020-06-11 09:41] tarockx opened #1914 "Changing the FontFamily of a TextBox will change the font of the floating hint"
If I change the default font family for a textbox that has a floating hint, like this:

`<TextBox FontFamily="Courier New" materialDesign:HintAssist.Hint="Expected result"></TextBox>`

the font family also applies to the hint label:

![image](https://user-images.githubusercontent.com/10919460/84370217-40ff9a00-abd8-11ea-8f4e-a1a698fd971d.png)

as you can see, this makes the label ugly and difficul

[2020-06-11 12:02] nonokme commented on #1901
Although it didn't solve the problem, thank you for your reply@Lungbo

[2020-06-13 13:39] wim07101993 commented on #695
Tried and verified

[2020-06-14 01:11] #695 closed

[2020-06-14 05:45] greuelpirat commented on #1911
This is fixed with #1842

[2020-06-14 07:31] #1828 closed

[2020-06-14 10:51] gitjsdr26 opened #1921 "Would it be possible to have DrawerHost.CenterDrawerContent ?"
Actually it's possible to have for DrawerHost with `Right`, `Left`, `Top`, `Bottom`, content properties.
Would it be possible to have `DrawerHost.CenterDrawerContent` ?
Indeed, I'd like to make a Wizard using `materialDesign:Transitioner` into a `DrawerHost` centered.
Is it possible to do it or should I use the `materialDesign:DialogHost` to achieve it ?
Regards

[2020-06-14 12:57] gitjsdr26 opened #1924 "Is there a way to show several stacked Dialogboxes ?"
This is a question,
Is there a way to show several stacked Dialogboxes with `materialDesign:DialogHost` ?

Regards

[2020-06-14 21:05] Keboo commented on #1924
Currently, no. Each DialogHost can only show a single dialog at a time. However, you can have multiple DialogHosts, allowing you to effectively stack multiple dialogs.

[2020-06-14 21:07] Keboo commented on #1921
I believe the DialogHost is the correct tool for this job, specifically using the [MaterialDesignEmbeddedDialogHost](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/ControlStyleList#dialoghost) style since this will make the dialog part of the visual tree (like what the DrawerHost does).

[2020-06-14 21:11] gitjsdr26 commented on #1921
@Keboo , thank you. This question is linked to the previous one #1924 , because I'd like to make a Wizard but this Wizard will have to popup Dialogboxes.

[2020-06-14 21:13] Keboo commented on #1914
By default the hint follows the font family of the TextBox. I think what we should do is to create a new HintAssist.FontFamily attached property to allow the font family of the hint to be controlled separately.

[2020-06-14 21:14] Keboo commented on #1912
Currently the only way to do that is with MahApps. The reason is because to control those colors you need to setup custom window's chrome to achieve that level of customization. We have never implemented that directly in the library because MahApps provides a good implementation for it.

I am curious, why do you want to avoid MahApps?

[2020-06-14 21:18] Keboo commented on #1913
I don't think that will be possible. The reason those do not exist is because the material design specification does not define accent colors for those. You can see them [in the color tool](https://material.io/resources/color/) (the last four columns are the accent colors).

![image](https://user-images.githubusercontent.com/952248/84604309-ee2d1900-ae49-11ea-8137-6d17151660aa.png)

[2020-06-14 21:19] #1913 closed

[2020-06-14 21:20] Keboo commented on #1911
You can test with the latest 3.2.0 preview NuGet packages to confirm this is resolved.

[2020-06-14 21:20] #1911 closed

[2020-06-14 21:21] MetalWing commented on #1912
@Keboo Thank you for the response!

I have nothing against MahApps, I just figured if MaterialDesignInXaml does everything I need, I might as well lighten the project and remove unnecessary components.

Given that MahApps allows me to have coloured title bar, I am likely going to have to keep both! :)

[2020-06-14 21:21] #1912 closed

[2020-06-14 21:23] Keboo commented on #1908
The reason is because when you apply a control template, it replaces the material design control template. I think what you want to do is to use the `ContentTemplate` property of the `Button` rather than the `Template` property. This will let you define a `DataTemplate` for your content that contains both the `Label` and the `Image`

[2020-06-14 21:26] Keboo commented on #1901
A couple things to try. First, since this is a `paket` restore issue, I would suggest simply closing Visual Studio (making sure all rouge MSBuild processes are terminated), then simply restart it. The other option would be to run the following from the root of the repository (ensure Visual Studio is not running).
[code]

[2020-06-14 21:27] CorradoBarbero commented on #1912
For what is worth, also Material Design Extensions provides that feature, so there are actually several options.

[2020-06-14 21:29] Keboo commented on #1905
This is a bit of an unusual problem. Perhaps try enabling [LayoutRounding](https://docs.microsoft.com/en-us/dotnet/api/system.windows.frameworkelement.uselayoutrounding?view=netcore-3.1)?

[2020-06-14 21:31] Keboo commented on #1921
@gitjsdr26 Wouldn't you want to have a DialogHost hosting the wizard, and then withing the Dialog have a second dialog host for any dialogs that the wizard needs to display?

[2020-06-14 21:34] gitjsdr26 commented on #1921
@Keboo , yes you are right, but i didn't think that it was possible. Thanks.

[2020-06-14 21:34] Keboo commented on #1898
I can see why this s happening. I think the question is what is the correct behavior in these situations?

I am open to suggestions here. My initial though is to simply move the validation message down so that it does not overlap with the outline. Thoughts?

[2020-06-14 21:34] #1921 closed

[2020-06-14 21:35] #1885 closed

[2020-06-14 21:35] #1924 closed

[2020-06-15 00:26] mey1k commented on #1908
@Keboo Thank you for reply
I understand what you say.

below is my code
-----------------------------------------------------------------------------------------------------
<Button Style="{StaticResource MaterialDesignBtn}" ContentTemplate="{StaticResource imgButtonTemplate}"/>
-------------------------------------------------------------------------------------------------------
    <Style x:Key

[2020-06-15 01:40] darturdotnetdeveloper commented on #695
Hi Kevin. It's already good.

thanks for asking

On Sun, Jun 14, 2020 at 9:11 AM Kevin B <notifications@github.com> wrote:

--
*Darwin Cyril Turingan*
Software Engineer

Visionaire Software Solutions Inc
9115 Don Bosco St., Brgy Sirang Lupa
Calamba City, Laguna 4027

[2020-06-15 05:35] quicoli commented on #1905
To fix that I had to override the style and change some margins and font
size...

Thank you...

On Sun, Jun 14, 2020, 22:29 Kevin B <notifications@github.com> wrote:

[2020-06-15 06:00] CorradoBarbero commented on #1898
Yep, I think it makes perfect sense, just move it down so that that it does not overlap

[2020-06-15 12:57] MetalWing commented on #1912
@CorradoBarbero This might be what I am looking for! Thank you!

[2020-06-15 15:44] pahibu commented on #1901
In my case the folder name was too long. I moved the repository to c:\ and ran the program twice. Now it works :-)
Otherwise I only paid attention to [this page](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Compiling-From-Source)

[2020-06-16 12:28] #1825 closed

[2020-06-16 14:10] finti3295 commented on #980
I had a similar problem that I resolved by removing any implicit initialization of all the wpf controls containing material design reference and group there initialization into a function "Initialize" that I call one time before using my controls

[2020-06-17 03:13] bombipappoo commented on #1870
Launch the MahApps demo application and click MAHAPPS-NumericUpDown, nothing is displyed as below. Once change the theme on the PALETTE page, it will be displayed correctly.

![updown1](https://user-images.githubusercontent.com/66123786/84850812-9d106580-b093-11ea-974a-987f8c4158a5.png)

Add the following line to App.xaml, it will be displayed correctly.
[code]

[2020-06-17 08:35] Elsassma opened #1928 "Cannot scroll in Listview when items are expanders"
I have a Scrollviewer which contains a listview where i had redefined the itemtemplate to be an extander.
However when I try to scroll up or down in my list with the mouse wheel, it doesn't work when the mouse is on one of the expanders (the scroll works when my mouse is not on the items).
It seems that the Expander in the list hijack the mouse wheel and prevent the control from scrolling.

I know

[2020-06-17 12:36] CorradoBarbero commented on #1613
Please please somebody....

[2020-06-18 06:03] #1878 closed

[2020-06-18 06:39] Keboo commented on #1928
Can you provide some sample code showing the problem. I suspect the issue is that something is marking the mouse wheel event as handled before it reaches the list view.

[2020-06-18 06:40] Keboo commented on #1870
I have a work in progress branch that I believe will resolve this. https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/tree/themeFixes

[2020-06-18 06:55] bombipappoo commented on #1870
Yes it's fixed.

[2020-06-18 07:43] Elsassma commented on #1928
Here is the xaml :

    <ContentControl>
         <Grid>
           [...]
            <ScrollViewer Grid.Row="1" VerticalScrollBarVisibility="Auto">
                    <ListView ItemsSource="{Binding DiagResult.DiagnosticResults}">
                        <ListView.ItemContainerStyle>
                            <Style TargetType="{x:Type ListViewItem}">
                                <Style.Tri

[2020-06-18 09:46] w-syss commented on #546
This is no longer happening and can be closed.
@Keboo

[2020-06-19 05:10] Keboo commented on #1928
It looks like the issue is with the ListView inside of the ScrollViewer. Because the ScrollViewer allows the ListView to grow in size infinitely it doesn't show its own scroll bar (which it normally would). However, it still captures the mouse wheel events, and those don't propagate to the ScrollViewer.

Typically you should not put a list view inside of a ScrollViewer, or you should use an ItemsC

[2020-06-19 05:11] #546 closed

[2020-06-19 05:11] #1870 closed

[2020-06-19 05:55] Elsassma commented on #1928
You're right, it was the problem.
I changed the Listview for an ItemsControl and it works fine. Good to know.

Thank you for you help!

[2020-06-19 05:56] Keboo commented on #1613
Just barely got started on this, branch is [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/tree/outlineComboBox) if anyone wants to help out.

All that is done so far is to create a new template, copied from the existing one. Still need to actually create the outline stuff for it.

[2020-06-19 10:20] w-syss commented on #1908
Hi, could you rephrase that question? I am not sure which issue you're having.
What content do you want to set?

[2020-06-19 10:50] mey1k commented on #1908
@w-syss Hi~:)

I want to implement ImageTextButton.
so, I have to set Image and Text in Button.

but, I can't use ControlTemplate because I use Material Style.

so, I try to implement it using datatemplate.

<DataTemplate x:Key="imgButtonTemplate">
    <StackPanel>
        <TextBlock Text="{Binding Text}"/>
        <Image Source="{Binding Source}"/>
    </StackPanel>
</DataTemplate>

Here, I don't

[2020-06-20 19:04] GameChampCrafted opened #1936 "Checkbox outline not showing on not checked"
![image](https://user-images.githubusercontent.com/39221871/85209553-f7fdc300-b306-11ea-8f3e-c2cb13dde00d.png)
The checkbox above is completely invisible nothing is being shown if I put another background color its just completely invisible for me. This is the same with all the materialdesign checkbox styles. However when i click on that spot it shows the enabled color. How would I fix this?

[cod

[2020-06-21 00:29] CorradoBarbero commented on #1936
You may have something wrong with your styles, it works perfectly for me:
![Capture](https://user-images.githubusercontent.com/62978436/85214070-76a73e80-b3a1-11ea-967d-c0637ce6b5ca.PNG)

With this App.xml content:
[code]

[2020-06-21 02:36] GameChampCrafted commented on #1936
Thank you, I was missing the BundledTheme

[2020-06-21 02:36] #1936 closed

[2020-06-21 06:42] GameChampCrafted opened #1937 "Add materialdesign element by code"
How would I add these
[code]
to this
![image](https://user-images.githubusercontent.com/39221871/85218492-de8d6300-b368-11ea-8d45-2a24c22a7b4f.png)

[2020-06-21 08:00] CorradoBarbero commented on #1937
Try a syntax like this:
[code]

[2020-06-21 11:19] GameChampCrafted commented on #1937
Thanks so much again! Really appreciate it.

[2020-06-21 11:19] #1937 closed

[2020-06-22 21:17] TFTomSun opened #1939 "Selected Item in Combobox is removed from the list"
While this behavior might be useful for single selection comboboxes, it is an unexpected behavior, when you template the combobox items to achieve a multiselection behavior. Is it possible to disable the behavior that the selected item is removed from the available items list?

[2020-06-23 15:49] bombipappoo commented on #1832
When binding `VMProperty`, `BackContent` does not seem to be part of the visual tree yet.
So, `RelativeSource` does not work properly.

You can use the object called "BindingProxy" for binding `VMProperty`.

[2020-06-23 15:54] bombipappoo commented on #1908
Is this what you want?
[code]

[2020-06-23 16:26] bombipappoo commented on #1939
Set `ComboBoxAssist.ShowSelectedItem` to `true`, the selected item is shown.

[2020-06-23 17:56] Dowlpack commented on #1832
bombipappoo, So thanks. It works as expected

[2020-06-23 17:57] #1832 closed

[2020-06-23 20:10] KHALED-LAKEHAL commented on #1898
I think add Margin Property to <Border x:Name="DefaultErrorViewer"
                    Visibility="Collapsed"
                   Margin="0,3,0,0"
                    Background="{Binding ElementName=Placeholder, Path=AdornedElement.(wpf:ValidationAssist.Background)}">

[2020-06-24 10:52] ghost opened #1940 "Password box hint slides out"
For the MaterialDesignFilledPasswordFieldPasswordBox style the hint will slides out if you have set font size for example on 16 and type a password in.

The problem can be solved by replace „Padding“ by „Margin“ at line 164 at MaterialDesignTheme.PasswordBox.xaml

[2020-06-25 14:43] HamzaIssam opened #1941 "Open a drawer & Execute a Command at the same time"
I wonder if it's possible to execute the Opendrawer Command & simultaneously another Command at the same time?

I can't call the Drawer command by c# code because the View and the ViewModel are bound through Dependency Injection using Prism.

I tried to register both my command and the DrawerHost.OpenDrawerCommand in a Prism composite command and bound it to the button but the button is now greyed

[2020-06-26 14:07] bombipappoo commented on #1941
You can set `DrawerHost.IsLeftDrawerOpen` etc. to true in your command, instead of using `DrawerHost.OpenDrawerCommand`.
For example, like this.

[code]
[code]

[2020-06-26 15:38] Mrxx99 opened #1942 "MaterialDesignThemes.MahApps 0.1.4 issue with .Net Framework"
I added MaterialDesignThemes.MahApps 0.1.4 to a .Net Framework WPF app and copied the resource setup from the demo app:
![grafik](https://user-images.githubusercontent.com/33566379/85874399-df901b80-b7d2-11ea-9ceb-0f8527bfb4fa.png)
When I start I get an exception as soon as I start. The error in the screenshot is after upgrading MahApp.Metro to 2.1.0.

Also strange that the .Net Framework version

[2020-06-27 00:17] TFTomSun opened #1944 "TextBox lines from other tab shines through, when opacity is set to less then 1"
I've created a popup with a tab control:
![image](https://user-images.githubusercontent.com/5387192/85909824-0e7eaf80-b81c-11ea-8142-1304f252d378.png)

When I switch to another tab, the lines of the textboxes of the first tab shine through as dashed lines:

![image](https://user-images.githubusercontent.com/5387192/85909848-33732280-b81c-11ea-9fd4-2378a61db72c.png)

Is that a known issue? Is there

[2020-06-27 07:03] bombipappoo commented on #1944
It looks similer to #1846.

[2020-06-27 11:20] AgPeHaJIuH1 opened #1945 "Same default height"
Hello. Sorry for my perfectionism, but I'm used to the fact that the controls look the same, this also applies to their Height by default. Now I have to redefine some styles so that the elements are the same height (add Padding or set MinHeight). I would like them to look the same by default, if possible. Thank you for understanding.

![image](https://user-images.githubusercontent.com/29563929/859

[2020-06-27 14:10] TFTomSun commented on #1944
yes, thanks for the hint. I can confirm it's fixed with the latest prerelease.

[2020-06-27 14:10] #1944 closed

[2020-06-28 07:31] #1898 closed

[2020-06-28 07:32] #1427 closed

[2020-06-28 22:23] TFTomSun opened #1947 "Question: Is it possible to reduce the padding of a button, so that its icon fills out the whole button"
When I put an icon into a button content, there a huge padding. Can I somehow decrease it?
When I set padding to 0, there's still some padding on the top of the icon:
![image](https://user-images.githubusercontent.com/5387192/85959788-ba500880-b99e-11ea-8e53-73a85f56d40a.png)

[2020-06-29 04:45] AmRo045 commented on #1947
Try this:
[code]

[2020-06-29 05:50] X-elais commented on #1459
It seems the problem still exists on 3.1.3.1513 version.

Using materialDesign:DataGridComboBoxColumn does not solve this issue for me.

[2020-06-29 08:24] TFTomSun commented on #1947
@AmRo045 thanks alot Height="Auto" did it! :)

[2020-06-29 08:24] #1947 closed

[2020-06-29 11:49] LCvanDinteren commented on #1786
Check out the release notes for v1.3.0: https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/releases/tag/3.1.0

I had the same issue, but the specified solution works like a charm for me.

[2020-06-29 12:48] zhaobingwang opened #1948 "Can support WPF schedule control ?"
Can support WPF schedule control ? (Similar Microsoft Outlook Calendar)

[2020-06-29 13:21] theW01f opened #1949 "ComboBox issue"
I have the following ComboBox in XAML:

[code]

![image](https://user-images.githubusercontent.com/56007963/86010565-f496c580-b9f1-11ea-880c-ecac769afac6.png)

How to remove the background line that it's showing inside the red loop?

[2020-06-29 14:33] yosefmah opened #1950 "DataGrid gridlines too thick when background set to Transparent"
I think following some of the improvements in #1838 the DataGrid gridlines don't seem to play nicely when the DataGrid background is set to Transparent.

Example when the DataGrid background is set to Transparent:

![image](https://user-images.githubusercontent.com/19147840/86018788-b6af9680-ba1d-11ea-82cb-52c5059cb7b2.png)

And when the DataGrid background is set specifically to the brush:

![ima

[2020-06-30 06:53] Keboo commented on #1948
Currently no. This is a bit outside of the scope of this library. This is designed to bring Google's Material Design spec to WPF. Currently the closest thing to that is the calendar picker (which is pretty far from the full scheduling control).

[2020-06-30 06:53] #1948 closed

[2020-06-30 07:00] Keboo commented on #1939
It appears that the last specification has changed such that the default is to always show all items in the list. https://material.io/components/menus#exposed-dropdown-menu

[2020-06-30 07:05] Keboo commented on #1949
Appears to be the same issue as #916. Functionally the issue is that we try to draw a popup control with a "hole" in it to show the underlying control. However this is a bit problematic in some cases as that popup must be positioned exactly over the combo box control

[2020-06-30 07:12] Keboo commented on #1950
That is interesting. From measuring, it appears that the lines in both screenshots are in fact the same size, however the ones in the transparent case are certainly brighter. Will need to dig into this more to know what is going on.

Can you provide the exact RGB colors you were using for the lines and the backgrounds?

[2020-06-30 07:26] Keboo commented on #1942
@Mrxx99 I am not sure which resource dictionary is having that problem. From testing, it looks like it is probably one of the MahApps resources. If you comment out the MahApps resource dictionaries the warning goes away. I would log an issue of the the [MahApps repo](https://github.com/MahApps/MahApps.Metro).

[2020-06-30 07:26] #1942 closed

[2020-06-30 07:32] Keboo commented on #1941
It is also worth noting that the [Prism CompositeCommand](https://prismlibrary.com/docs/composite-commands.html) is not expected to run the commands in parallel, rather

I think the suggestion of using the Is*DrawerOpen properties is likely the best option.

[2020-06-30 07:43] HamzaIssam commented on #1941
Thank you guys for your help, using the DrawerOpen Property helped and works fine.

[2020-06-30 07:43] #1941 closed

[2020-06-30 10:19] yosefmah commented on #1950
Hi @Keboo , sure it is #3D4C5C.  Although this also happens on the demo app in dark theme and its default background.

I believe the issue occurs on the [RemoveAlphaBrushConverter](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Converters/RemoveAlphaBrushConverter.cs).  The Transparent background is passed to it as white.

I have worked aro

[2020-06-30 19:47] ruksarjk commented on #1940
Hello,

I'm new here. Could I please work on this issue?

[2020-06-30 20:52] bebenins opened #1952 "Remove hardcoded Margin and Font size from MaterialDesignFilterChipCheckBox"
... and MaterialDesignFilterChipOutlineCheckBox

`        <Setter Property="FontSize" Value="13" />
        <Setter Property="Margin" Value="4" />
`

Not sure why it's there.  I have to manually set margin to -4 to align it with other controls.
Would be nice to inherit font as well.

[2020-07-03 06:17] krisztianmukli commented on #723
There are any progress this bug? scual's workaround doesn't work for me, but the problem is disappeared when I change the PopupMode to Click. (But this way changed the behaviour of the popupbox).

[2020-07-03 20:06] Keboo commented on #1952
I agree with the proposal.

[2020-07-03 20:07] Keboo commented on #1950
@yosefmah Thanks for the information, that is very helpful.

[2020-07-05 07:58] #1834 closed

[2020-07-06 08:46] TheoEssoh commented on #966
thank's you help me !!!

[2020-07-06 11:33] myn724405566 opened #1965 "about GetExtendedTheme() is error"
Why does the method GetExtendedTheme()  report an error
![61DF321C-5CF9-427c-8E78-45524405A038](https://user-images.githubusercontent.com/23432448/86589043-7624bf80-bfbf-11ea-8a2d-12bd58579d04.png)

[2020-07-06 14:45] bombipappoo commented on #1965
`GetExtendedTheme()` is not a part of Material Design In XAML Toolkit, probably part of [Material Design Extensions](https://github.com/spiegelp/MaterialDesignExtensions).
In method `ResourceDictionaryExtensions()`, the `BindingFlags` for the private static property is incorrect.

[2020-07-06 15:51] HClausing opened #1966 "DatePicker with Floating Hint Style's Top Margin/Padding mismatch from TextBox Style"
The elements are inside a StackPanel, on "Form" GroupBox. The two images below show the distance from top element and its flow Label (Hint):

![image](https://files.gitter.im/551ce90615522ed4b3de3bc8/xuTu/image.png)

DatePicker:

![image](https://files.gitter.im/551ce90615522ed4b3de3bc8/XKD5/image.png)

XAML:

        <GroupBox Header="Form:" Margin="15,15,15,15"
                  materialDesign:C

[2020-07-06 15:52] database64128 opened #1967 "Themed applications constantly consume CPU cycles even during idle"
Applications with Material Design Themes constantly consume CPU cycles even when minimized and idle. This behavior leads to a significant amount of CPU time being wasted on these idled apps over time. Both the Material Design In XAML Toolkit and [one project of my own using this theme](https://github.com/database64128/youtube-dl-wpf) have this issue. Can Replicate on my all 3 devices.

Attached is

[2020-07-06 23:45] HClausing commented on #1967
I've left my computer on during some hours with DemoApp running. When I came back, the app was frozen.

[2020-07-07 16:12] Keboo commented on #1967
Can you retest on `3.2.0-ci1755` or newer. Previously there were some long running tasks with snackbar message queue and I am curious if removing those will have any affect.

[2020-07-07 16:43] database64128 commented on #1967
Just did a test with the latest commit. The performance issue is now gone, as confirmed by the [profiling data](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/4886049/Report20200708-0032.zip). Thanks!

[2020-07-07 16:52] database64128 commented on #1967
After moving around in the demo app for a while, the issue appeared again. But the profiling data certainly looks different than before.
[Report20200708-0046.zip](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/4886093/Report20200708-0046.zip)

[2020-07-07 20:02] database64128 commented on #1967
Updated [my project](https://github.com/database64128/youtube-dl-wpf/tree/theme-test) to `3.2.0-ci1755` and it still has the issue.

[2020-07-07 23:53] yosefmah opened #1969 "Validation error message remains visible when moving through transitions"
Posted by @ChrisCross67 [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/pull/1842#issuecomment-653526645)

![image](https://user-images.githubusercontent.com/8480749/86469597-0356e280-bd3a-11ea-939e-24d052032796.gif)

I'm not sure where the problem lies, wrapping the entire control in an AdornerDecorator fixes it but would be good to sort it in the template.  I've tried

[2020-07-08 04:40] SaviorXTanren opened #1970 "Disabled Hint TextBox & ComboBox controls appear when inside a collapsed container [v3.1.2 & up]"
Starting with nuget packet v3.1.2 & higher, I've noticed some of UIs now have an issue where hidden controls that are disabled are

![image](https://user-images.githubusercontent.com/752903/86876388-7c876a00-c099-11ea-929d-7611bc11363f.png)

Unfortunately I've had difficulty attempting to isolate what specifically might be causing this beyond the above statement, so I haven't been able to make a b

[2020-07-08 15:56] marvac commented on #1970
This is fixed with #1842, but you won't see it until the next release.
I'm sure we have quite a few people waiting on this release!
You can also implement the code from the commit yourself until then if it's a dire emergency

[2020-07-08 17:17] fpuglap opened #1971 "Blurred Controls"
I'm using a MaterialDesignCardFlipper but for any reason the content is blurred. This is the common behaviour on these controls or I'm missing something? Thanks in advance.

![2020-07-08_14-08-02](https://user-images.githubusercontent.com/56007963/86949717-7212b200-c125-11ea-8922-63204ebdbe70.gif)

Code is the same as the Material Design in XAML Toolkit provides:

[code]

In the Material Design in

[2020-07-08 18:52] SaviorXTanren commented on #1970
Nah, it's all good. Our app was really far behind on updates, so we just updated to 3.1.1, which is perfectly fine. Thanks!

[2020-07-08 18:52] #1970 closed

[2020-07-09 03:15] bombipappoo commented on #1971
It looks like a ClearType issue, just like Calendar and Menu.

[2020-07-09 14:44] tkacleonid opened #1972 "Combobox and Pickers Bug"
When I use combobox and pickers, I see dotted line under the disabled controls. How can I fix it?

In first Tab combobxes and pickers disabled:

![изображение](https://user-images.githubusercontent.com/5224727/87053926-305c3700-c20b-11ea-8c9b-fdbb68c872f2.png)

In other tabs I can see dottend line when disabled controls have places on the first tab:

![изображение](https://user-images.githubuserco

[2020-07-10 03:39] Keboo commented on #1972
I believe this is a duplicate of #1840. Please test with the 3.2.0 _preview_ NuGet packages and it should be resolved.

[2020-07-10 03:41] Keboo commented on #1971
I believe @bombipappoo is correct about this being a ClearType issue. I believe this has already been capture in the (fairly old) bug #693. The short version is because this is using 3d rendering bits of WPF the clear type ends up getting disabled.

[2020-07-10 03:44] Keboo commented on #1969
I believe the issue here is that each slide is the transitioner should likely be getting its own Adorner layer. I suspect this is likely solved in the 3.2.0 _preview_ NuGet packages as we added an adorner layer to to the TextBoxes so those should likely be handled now.

[2020-07-10 03:46] Keboo commented on #1965
I believe that @bombipappoo is correct. `GetExtendedTheme` is not one of the APIs in this library.

[2020-07-10 03:46] #1965 closed

[2020-07-10 06:55] ChrisCross67 commented on #1969
Thanks @Keboo, I tried with the 3.2.0 preview, same result...
I think the problem is related to ValidationErrorTemplate. I will do some test and let you know ;)

![MuwGr3NFdn](https://user-images.githubusercontent.com/8480749/87125581-05b1c300-c28b-11ea-9f7f-005214d4321f.gif)

[2020-07-10 08:49] #1928 closed

[2020-07-10 09:25] Elsassma opened #1973 "WPF UI freeze when populating listview with expanders"
I have a ListView I'm populating with 40/50 items. Each item is an expander  with a body which contains a TextBox. The expanders are on IsExpanded = False.

When the list is displayed on the UI, there is a freeze of like 5/6 seconds until the items are displayed. After that, I can scroll and open them without problem.

The freeze seems to come from the TextBox content in the expander body which is

[2020-07-10 16:36] theW01f commented on #1971
@bombipappoo @Keboo Thank you both. So basically this bug is on WPF Designer side?

I have this quality now:

![2020-07-10_12-53-02](https://user-images.githubusercontent.com/56007963/87173586-60a7e200-c2ac-11ea-891e-043a7c1645dc.gif)

I think is a reasonable render (please consider it's a .GIF file), at least for me. I just add some code from the [Getting Started](https://github.com/MaterialDesig

[2020-07-10 17:47] Shreyasj96 opened #1974 "Sometimes the next button is appearing before cancel button in the first step of stepper control[ 1st image ] and this has a style applied to the next button whereas in second image the next button is after cancel but with no style applied. How to fix this issue? Thanks"
![CustomerStepper](https://user-images.githubusercontent.com/64590103/87182996-dd65ab00-c302-11ea-9e79-0990a9d5070f.png)
![CustomerDetailsStepper](https://user-images.githubusercontent.com/64590103/87183182-3df4e800-c303-11ea-8201-2570bb7ae6eb.png)

# PLEASE READ BEFORE POSTING AN ISSUE

# This is a place for issues and feature requests. Questions are better asked in the Gitter chat room.

# Serio

[2020-07-10 22:17] w-syss commented on #1973
Hi,
could you post your xaml? I would like to have a look.

[2020-07-11 06:18] bbday opened #1978 "Datagrid Inside UserControl Binding, Memory Increase Abnormal"
There is a abnormal Memory usage when binding ObservableColletion to Datagrid and Controller is inside UserControl and use HamburgerMenu. If Datagrid is inside normal Window no issue happen.
Just example about Heap in Memory from 20 mb when is inside Window to 124mb when is in UserControl.

I put Project inside .zip to https://filebin.net/zsfve0zrw9fdru28

[code]

[code]

[code]
[code]

Windows 10

[2020-07-11 09:20] punker76 commented on #1978
@bbday The main problem here is your `ContentTemplate` for the `HamburgerMenu` and the `ScrollViewer`. If you wrap a DataGrid or any other ItemsControl with virtualization in a ScrollViewer then you will lost this feature and the memory goes up. The DataGrid itself has a ScrollViewer inside. So to fix this you should remove this ScrollViewer!

[code]

![2020-07-11_11h15_51](https://user-images.git

[2020-07-11 09:31] bbday commented on #1978
Thanks

[2020-07-11 09:31] #1978 closed

[2020-07-11 12:28] greuelpirat commented on #1950
I added the `RemoveAlphaBrushConverter` to work around a problem. Here is `HorizontalGridLinesBrush` without opacity.

![image](https://user-images.githubusercontent.com/16866222/87223226-7d5f1b00-c37b-11ea-98b8-491f17bdb3d1.png)

here with opacity (set directly to `MaterialDesignDivider`)

![image](https://user-images.githubusercontent.com/16866222/87223270-cadb8800-c37b-11ea-95c2-6bc857d71acb.pn

[2020-07-11 15:07] bombipappoo commented on #1971
You can find the example you want in the [demo app](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/15bceed3c91420e6d7492a0d6d73367505197766/MainDemo.Wpf/Toggles.xaml#L61-L69).

[2020-07-12 03:56] meromy opened #1979 "TextBox VerticalAlignment Bug"
![01](https://user-images.githubusercontent.com/42421153/87238565-a2649400-c436-11ea-983d-4f9a7f724d0a.png)
![02](https://user-images.githubusercontent.com/42421153/87238569-a4c6ee00-c436-11ea-9401-0494ec62adab.png)
![03](https://user-images.githubusercontent.com/42421153/87238570-a5f81b00-c436-11ea-91f8-1745bb1d7757.png)

[2020-07-12 12:58] w-syss commented on #335
This is no longer happening and can be closed.
@Keboo

[2020-07-13 03:04] bombipappoo commented on #1979
If you increase the number of lines, it expands, but if you decrease the number of lines, it does not shrink. Is this what you mean?
If so, It seems #1900 have done so.

[2020-07-13 04:44] Keboo commented on #335
Thanks @w-syss
Closing for now. Please let me know if this is still an issue

[2020-07-13 04:44] #335 closed

[2020-07-13 05:01] Keboo commented on #1971
@theW01f this behavior is due to the way we do the flip animation. What happens is ClearType can be disabled in a number of [different circumstances](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.renderoptions.cleartypehint?view=netcore-3.1#remarks). Anytime there is an element that _might_ cause a potentially transparent background, ClearType gets disabled which is what causes

[2020-07-13 05:06] Keboo commented on #1974
Can you post your XAML that shows the problem?

[2020-07-13 05:25] Shreyasj96 commented on #1974
<controlsLib:Stepper x:Name="stepper" IsLinear="False" Layout="Horizontal" BlockNavigationOnValidationErrors="True"
                              ContentAnimationsEnabled="True"
    NavigationCanceledByValidation="Stepper_NavigationCanceledByValidation" StepNavigationCommand="{Binding StepNavigation}"
                              HorizontalAlignment="Stretch" VerticalAlignment="Stretch"  DoneIcon

[2020-07-13 05:27] Shreyasj96 commented on #1974
Hi, i have pasted the xaml code for first step, for second and third step, the styles are fine for the next and finish buttons. only for first step, im having this issue.

[2020-07-13 09:34] bombipappoo commented on #1974
Probably the Stepper control is part of [Material Design Extensions](https://github.com/spiegelp/MaterialDesignExtensions). Not a part of Material Design In XAML Toolkit.

[2020-07-13 10:17] Shreyasj96 commented on #1974
@bombipappoo  yes you are right. But still other styles seems to be working just fine though and almost all of the styles available in Material Design are available in Material design extensions as well.

[2020-07-13 11:28] bombipappoo commented on #1974
Can you provide a project (not only XAML) that reproduces this problem?

[2020-07-13 11:57] Shreyasj96 commented on #1974
@bombipappoo As this is a company project, it might not be possible to share the source code. If you want any other details that are required(relating to this stepper), i would like to know.
Even i tried styling the Next Button by overriding, but i wanted the original style itself.

[2020-07-13 13:25] bombipappoo commented on #1974
It seems that the order and style of the buttons depends on whether `Mode` property of `StepButtonBar` is `Horizontal` or `Vertical`.
See [StepperTemplates.xaml](https://github.com/spiegelp/MaterialDesignExtensions/blob/master/MaterialDesignExtensions/Themes/StepperTemplates.xaml#L845).

[2020-07-13 14:01] Shreyasj96 commented on #1974
@bombipappoo  Thank you for the quick response. From the link which you have shared, i can see that both are using MaterialDesignFlatButton as their stepbuttonbar button styles. This explains image 2 but not image 1. That's where im confused.

[2020-07-13 14:51] bombipappoo commented on #1974
It's a DataTrigger:
If Mode is Horizontal, Cancel(Flat) - Continue(Flat).
If Mode is Vertical, Continue(Raised) - Cancel(Flat).

I think that it will be solved if you specify `Mode="Horizontal"` to `StepButtonBar` explicitly.
Maybe this is a binding timing issue.

In any case, This is not a Material Design In XAML Toolkit issue.

[2020-07-13 15:17] Shreyasj96 commented on #1974
@bombipappoo Great analysis by your end. Yes, setting the mode to vertical fixed the style.
I guess you can't help it. "People in general are awesome". Thanks for your time and quick response.

[2020-07-13 15:17] #1974 closed

[2020-07-13 17:39] bebenins opened #1980 "Add MaterialDesignOutlinedTextFieldComboBox"
You can see a good, interactive, example in Google Contacts app.

![image](https://user-images.githubusercontent.com/16761301/87335543-7e748180-c50e-11ea-8437-60665f7e24b0.png)

And please make the default alignment, height, margins same as MaterialDesignOutlinedTextFieldTextBox so if you place them next to each other horizontally, outlines align.
Thank you!

[2020-07-14 07:40] CorradoBarbero commented on #1980
This is a duplicated of "Outline Combobox?" #1613

[2020-07-14 11:12] bebenins commented on #1980
Yes I'm sorry I didn't see it.
Will close this one

[2020-07-14 11:13] #1980 closed

[2020-07-14 11:14] bebenins commented on #1980
Dup of #1613

[2020-07-14 20:02] theW01f commented on #1971
@bombipappoo

This worked perfectly. Thanks

[2020-07-14 20:16] theW01f commented on #1971
I didn't know about this behaviour in WPF. Thanks @Keboo. So setting the `Background ` and `TextOptions ` in the UserControl will improve the render of the UI but will not make a perfect render. That's correct?

[2020-07-15 00:41] Keboo commented on #1971
Correct, that should at least get you back to clear text. For most situations this will be nearly identical to just using a regular Card control. There may still be some minor differences due to the 3d flip that is happening.

[2020-07-15 06:21] Elsassma commented on #1973
I said something wrong, it is not a listview but a itemscontrol.

Here is my xaml :
[code]

[2020-07-15 08:14] w-syss commented on #1973
I am pretty sure that setting those virtualizing options on the itemscontrol won't work, because the itemscontrol has no scrollviewer in it's controltemplate. This StackOverflow thread explains in detail how to virtualize an ordinary itemscontrol: [Post](https://stackoverflow.com/a/2784220).

[2020-07-15 09:00] Elsassma commented on #1973
I change it as it is said in the StackOverflow post but there is no change in my problem. My UI always freezes when the itemcontrol is populated...

[2020-07-15 09:56] w-syss commented on #1973
Alright, can you upload a sample repository where i can reproduce the issue?
Just a simple WPF app with your view and your viewmodel. Ideally with data, so i can reproduce it right away.

[2020-07-15 14:07] briandorey opened #1983 "ComboBox width changing on scrolling issue"
I am using a ComboBox with the following code

    <ComboBox x:Name="LBCients" Grid.Row="0" Grid.Column="1" Margin="10" materialDesign:ComboBoxAssist.ClassicMode="true" >
                <ComboBox.ItemsPanel>
                    <ItemsPanelTemplate>
                        <VirtualizingStackPanel />
                    </ItemsPanelTemplate>
                </ComboBox.ItemsPanel>

            </Com

[2020-07-15 16:35] #1983 closed

[2020-07-16 13:34] Elsassma commented on #1973
Here is a sample example.
You can change in the view model the text displayed in the expander. You can see that with "aa", it is faster to display the list that with the long string.

[ExpandersFreeze.zip](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/4931791/ExpandersFreeze.zip)

[2020-07-17 12:51] w-syss commented on #1973
Thank you, i will have a look and will report my findings :)

[2020-07-18 12:41] bombipappoo commented on #1971
It seems hard to do in 3D, so I tried to pseudo-flip in 2D space like this.
https://github.com/bombipappoo/MaterialDesignInXamlToolkit/tree/fliptest
Unfortunately, only affine transformations are supported, so the result cannot be the same as projective transformations. What do you think?

[2020-07-19 18:07] w-syss commented on #1973
Quick update, i think i found the issue. I am currently trying some alternatives.

[2020-07-19 23:42] lszczygielek opened #1984 "Leading icon for TextBox"
I would like to propose an enhancement.
It would be great to be able to set leading icon for TextBox like in Material Design guide:
https://material.io/components/text-fields

[2020-07-20 13:15] lszczygielek commented on #1979
I checked demo application with latest changes and control behavior from screenshots has been changed in comparison to previous version. It looks like regression.

[2020-07-20 19:59] pavka1799 opened #1985 "TextBoxHelper.SelectAllOnFocus="True" not working in PasswordBox"
After adding MDIX into App.xaml, TextBoxHelper.SelectAllOnFocus="True" stops working in a PasswordBox field.

Demo: https://github.com/pavka1799/MDesignMahAppsSelectAllIssue.git

In the demo there are TextBox and NumericUpDown, where TextBoxHelper.SelectAllOnFocus="True" is working as expected, and PasswordBox, where it is not working.

All NuGet packages are "Latest stable version":
* MaterialDes

[2020-07-23 07:44] HHubbert opened #1987 "Can Add a Paging Function To the DataGrid? Thanks"
The DataGrid now does not have the paging function , can add the function? Thank you !

[2020-07-24 02:55] myn724405566 opened #1990 "Some questions about TreeView"
The TreeView control bind data expands out of the display range, why is there no scroll bar displayed?
How do I control the expansion or closing of an item for TreeView data bound by mvvm?
My dear friend, I am just learning wpf and I don't know much about it, can you help me with my question? Thank you very much!

![image](https://user-images.githubusercontent.com/23432448/88356560-e0e54180-cd9a-1

[2020-07-24 06:53] #1985 closed

[2020-07-24 07:21] LeiYangGH commented on #1519
Is there any fix yet?

[2020-07-25 03:40] #1990 closed

[2020-07-25 17:48] safvanak opened #1993 "paket.exe" restore" exited with code 1."
Showing error while rebuild the solution , I am using visual studio 2019 version
![image](https://user-images.githubusercontent.com/24952773/88462927-b98e9180-cecc-11ea-91e9-a753df65cacd.png)

[2020-07-25 18:22] bombipappoo commented on #1993
Probably the same issue as #1761.

[2020-07-26 09:02] AmRo045 opened #1994 "MaterialDesignChoiceChipListBox Item Selection Issue"
MDIX version: 3.2.0-ci1494

Preview:
![Bug preview](http://uupload.ir/files/femj_preview.gif)

Code to reproduce:
[code]

[2020-07-26 09:32] AmRo045 commented on #1994
This issue can fix by adding the following triggers to `MaterialDesignChoiceChipListBoxItem`:
[code]

Output:
![Preview](http://uupload.ir/files/re7v_preview.gif)
But I think maybe there is a better way to fix that bug.

[2020-07-27 12:11] Gaheron opened #1997 "Changing the ValidationError Color has no effect?"
I changed the ValidationError Color like this.

[code]
Even though the ValidationError property is set, the displayed color is still the default red.

[2020-07-27 13:21] jonasmayor opened #1998 "TimePicker Control assigns a bad Date"
When using the TimePicker, the Time is blank  and you type the time like "9:00"  it will autocomplete to 9:00 AM  which is fine but in the back end when used on MVVM it is assigning through binding the DateTime  "1/1/0001 9:00:00 AM"  so that date is not good to store in SQL on any place.
Instead if you click on the clock dialog to select a time it will assign Today's Date and the selected Time fr

[2020-07-27 18:08] Keboo commented on #1993
More information on common causes in the [wiki](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/FAQ#project-fails-to-build-with-error-the-command-materialdesigninxamltoolkitpaketpaketexe-restore---references-file-materialdesigninxamltoolkitmaindemowpfpaketreferences-exited-with-code-1) as well

[2020-07-27 22:35] KHALED-LAKEHAL opened #1999 "How fix HintProxy Binding in custom control?"
I created custom control to show/hide password characters based on material design passwordBox style but i have problem in SmartHint HintProxy value
[code]

[2020-07-28 07:57] jespersh commented on #1999
`SmartHint` doesn't work without a `HintProxy`. You'll need to point it to one and register a new `HintProxyBuilder` here:
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/859a00034a8da419282a2e562c7d489d139b0a39/MaterialDesignThemes.Wpf/HintProxyFabric.cs#L35
See a few lines above for examples on `ComboBox`, `TextBox` (https://github.com/MaterialDesignInXAML/MaterialDesign

[2020-07-28 11:37] KHALED-LAKEHAL commented on #1999
Thanks he is working

[2020-07-28 11:38] #1999 closed

[2020-07-29 09:56] abrasat opened #2000 "The tag PackIcon does not exist in XML namespace "http://materialdesigninxaml.net/winfx/xaml/themes""
After updating the MaterialDesignThemes to the latest version, my WPF application cannot be compiled anymore, as the PackIcon is not found anymore in the library.
Is there any workaround available for this?

[2020-07-29 10:07] HamzaIssam opened #2001 "Showing a Progress Bar while simultaneously querying data blocks the UI"
Im trying to show an indeterminate loading progress bar while simultaneously querying a database, after the user clicks the button the UI is blocked and only after the query returns then the Progress bar is shown but then its too late..

Im using this code            :

`  <ProgressBar Grid.Row="1"  Grid.ColumnSpan="2"
                         Height="150"
                         Width="150"

[2020-07-29 13:29] bombipappoo commented on #1997
It works as expected. Can you provide a project that reproduces it?

[2020-07-29 13:46] bombipappoo commented on #2000
What version are you using? It can be compiled in my environment (latest master, v3.2.0-ci1798, v3.1.3).
Can you provide a project that reproduces the issue?

[2020-07-30 03:07] mincasoft opened #2002 "Texbox UI error"
When I set the mode `IsEnabled = false` of the Textbox control, the error is displayed as shown below. The outline of the Textbox overlaps with HintAssist text

![image](https://user-images.githubusercontent.com/42678520/88875760-116e2500-d24c-11ea-959d-0285bb4b5ca9.png)

[2020-07-30 06:35] Gaheron commented on #1997
[ColorSwapTest.zip](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/4999234/ColorSwapTest.zip)

It works as expected on the MainWindow and the UserControl in the MainWindow. Sorry about that, it did not occur to me that only parts of it could not work.

If you click the Button a Dialog will open. Thats where the color is still red
![image](https://user-images.githubuserco

[2020-07-30 15:47] bombipappoo commented on #1997
I think maybe it can't.

Well, it's not completely impossible as below, but there may be a better way...
[code]

[2020-07-31 04:11] Keboo commented on #2001
@HamzaIssam it sounds like the database query is running on the UI thread and blocking the entire app. I would suggest moving the query inside of a `Task.Run` to perform the work on a background thread. You can see an example [here](https://github.com/Keboo/MaterialDesignInXaml.Examples/tree/master/ProgressBar/ProgressBar.BackgroundProcessing)

[2020-07-31 06:38] #1973 closed

[2020-08-01 09:09] mytahir opened #2006 "Add indeterminate Progress Ring"
![Progress](https://user-images.githubusercontent.com/28863431/89098334-75c0ee00-d3de-11ea-8739-8cd0914253de.png)
Is it possible if we can have this Future like in ModerWpf Library?
I mean an Indeterminate Progress Ring.

[2020-08-02 04:46] bombipappoo commented on #2006
Use `ProgressBar` with `MaterialDesignCircularProgressBar` style. See demo app for detail.

[2020-08-02 10:52] mytahir commented on #2006
Ok, Thank You

[2020-08-02 13:05] shsoft999 opened #2008 "TextBox MaterialDesignFloatingHintTextBox Style Bug"
TextBox MaterialDesignFloatingHintTextBox Style in transitionerslide displays a line on each page

[2020-08-04 20:26] bezzad opened #2010 "How to set TextAlignment of the materialDesign:HintAssist.Hint"
I have TextBox with the `MaterialDesignOutlinedTextFieldTextBox` styles. Now I want to align text in the center of TextBox, But I can't find any option in `materialDesign:HintAssist` to align hint text.
Please help me, what can I do?

[2020-08-05 11:19] jespersh commented on #2006
Sorry to say that is outside the Material Design spec

[2020-08-05 11:56] KHALED-LAKEHAL opened #2011 "ComboBox RightToLeft error"
ComboBox not showing initial selected item when FlowDirection=RightToLeft

If ComboBox in start with LTR mode we have

[![Capture.PNG](https://files.gitter.im/551ce90615522ed4b3de3bc8/ogL9/thumb/Capture.png)](https://files.gitter.im/551ce90615522ed4b3de3bc8/ogL9/Capture.PNG)

And if switching to RTL in runtime we have

[![Capture.PNG](https://files.gitter.im/551ce90615522ed4b3de3bc8/wMet/thumb/Cap

[2020-08-05 13:58] lucasNewSharp commented on #279
I think my problem was the same as @SiNcSaD . Let's me try to explain what I think that happen and my solution.
When you have an UserControl with a full GridView Inside, the ScrollBar of the GridView does not apeear and a ScrollBar of the MainWindow Panel, who has the UserControl inside shows up. The problem with GridView is that when the mouse is on the GridView, the ScrollBar of the "MainWindow"

[2020-08-05 18:26] mytahir commented on #2006
Ok

[2020-08-05 18:26] #2006 closed

[2020-08-06 07:18] bombipappoo commented on #2010
Currently not supported. But you can override the property like this.
[code]

[2020-08-06 08:23] bombipappoo commented on #2008
This is fixed with #1842.
You can test with the latest 3.2.0-ci1798 to see this is resolved.

[2020-08-06 22:18] KHALED-LAKEHAL commented on #2011
I fix the problem in this https://docs.microsoft.com/en-us/answers/questions/60012/wpf-combobox-righttoleft-error.html
thanks

[2020-08-06 22:19] #2011 closed

[2020-08-06 22:20] KHALED-LAKEHAL commented on #468
Fix the problem in this https://docs.microsoft.com/en-us/answers/questions/60012/wpf-combobox-righttoleft-error.html
thanks

[2020-08-07 03:20] #1979 closed

[2020-08-07 04:03] donvan commented on #1166
hi, how to change Datepicker language

[2020-08-07 17:58] Tyrrrz commented on #1307
Thanks a lot for that template snippet @DaRochaRomain, that helped me immensely.

[2020-08-08 06:01] HenJigg opened #2013 "Multiple pages in Transitioner show the textBox dashed line."
Place multiple containers in Transitioner, add TextBox to the back container, but the textBox dash line in the back container appears in the first container.

![image](https://user-images.githubusercontent.com/42528522/89703697-a2957800-d97f-11ea-84e6-ae51a630ea71.png)

[2020-08-08 16:30] Noboroto opened #2014 "Changing Theme to light or dark always catch exception"
I use this sample at [Advanced Theming
](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Advanced-Theming#changing-the-theme) to change the dark theme in runtime
[code]
but when run I get this exception
[code]
see more in [my sample](https://github.com/Noboroto/SampleThrowException)

[2020-08-08 17:52] KHALED-LAKEHAL opened #2015 "Drawerhost OnOpen/OnClose event?"
Hello how add  Drawerhost OnOpen/OnClose event like dialoghost DialogOpenedEventHandler/DialogClosingEventHandler

[2020-08-08 18:01] KHALED-LAKEHAL commented on #2014
use this method
[code]

[2020-08-08 18:05] Keboo commented on #2015
Currently it looks like this is simply a feature that is missing. If anyone wants to submit a pull request for it, I would be happy to see about getting it merged.

[2020-08-08 18:10] Keboo commented on #2014
@Noboroto I believe the issue is that the `PaletteHelper` method act on the application resource dictionary (App.xaml), but your initial setup of the `BundledTheme` is being done inside of the Window resources.

You have two choices
1. Simply move the theme resource dictionaries to the application level resource dictionary.
2. Don't use the `PaletteHelper` and instead use the `GetTheme` / `SetThem

[2020-08-08 18:10] Keboo commented on #2013
This should already be addressed with the latest 3.2.0 preview NuGet packages.

[2020-08-09 10:44] bezzad commented on #2010
Thanks

[2020-08-09 10:44] #2010 closed

[2020-08-09 13:46] Revolt27 commented on #1802
Hello!
You can solve your problem as follows:

[code]

[2020-08-10 11:57] Gaheron commented on #1997
Thank you!

It also works with the loaded event of the DialogHost 👍

[2020-08-10 11:57] #1997 closed

[2020-08-10 19:58] database64128 commented on #1967
I think I've found the culprit: `materialDesign:ButtonProgressAssist.IsIndeterminate`.

Previously `IsIndeterminate` was set to true and the indicator visibility was controlled by setting the variable `ShowIndicator`.

[code]

Apparently even when `ShowIndicator` is false, the indicator animation is still being rendered, and it constantly consumes CPU time. The workaround is to also bind `IsIndete

[2020-08-10 20:09] database64128 commented on #1967
I tried to locate the bug in the code. But this behavior makes no sense to me.

https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/0854092258b885f9093890ad476b3adfb802070f/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.ProgressBar.xaml#L206-L210

The animation should have stopped when `materialDesign:ButtonProgressAssist.IsIndicatorVisible` is `False`, because `IsVisible

[2020-08-11 12:53] ryunakai commented on #1166
@donvan
hi,
set a Language attribute in a xaml file.
for example Japanese locale.

`
<DatePicker
                Language="ja-JP"
                />
`

[2020-08-11 13:17] bombipappoo commented on #1967
What you are looking at is `MaterialDesignCircularProgressBar`, but in this case, what you should look at is `MaterialDesignLinearProgressBar`.

It seems that `IsIndeterminate` should be `False`, as you did, to avoid consuming CPU time when it is not visible.

[2020-08-11 17:59] bezzad opened #2018 "How to set foreground brush to "PART_ClearButton""
I have TextBox with the `MaterialDesignOutlinedTextFieldTextBox` styles which has `ClearButton`. Now I want to set `ClearButton` foreground of TextBox, But I can't find any option in `materialDesign:TextFieldAssist` to set brush.
Please help me, what can I do?

This is my textbox:

[code]

[2020-08-12 05:06] #2002 closed

[2020-08-12 07:21] Keboo commented on #2018
There is not currently a direct setter for it. However you can override the theme brush for it by specifying a brush with the key `MaterialDesignToolForeground`. Like this:
[code]

[2020-08-12 09:26] database64128 commented on #1967
Turns out the original issue is actually a WPF issue: `ProgressBar`'s animations won't stop rendering when it's not visible. See dotnet/wpf#1509.

Since it seems to be very unlikely to get a fix from the upstream, I wonder if it's possible to implement a workaround to stop the rendering of the animations when a `ProgressBar` element is not visible to the user.

Currently for the demo app, after na

[2020-08-12 12:08] bombipappoo commented on #1967
How is it like [this](https://github.com/bombipappoo/MaterialDesignInXamlToolkit/tree/progress-bar-test)?
Currently only linear progress bar and button with progress are supported.

[2020-08-12 17:11] Keboo commented on #381
Xamarin.Forms is not supported by this library. Given that [Xamarin.Forms supports material design](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/visual/material-visual#:~:text=Xamarin.Forms%20Material%20Visual%201%20Initialize%20Material%20Visual.%20After,Material%20Visual.%20...%203%20Customize%20Material%20Visual.%20) through their Visual API this library is not planning

[2020-08-12 17:11] #381 closed

[2020-08-12 21:25] JustAnothaMike opened #2022 "MaterialDesignOutlinedTextFieldTextBox doesn't respect HintAssist.FloatingOffset attribute"
MaterialDesignOutlinedTextFieldTextBox doesn't respect HintAssist.FloatingOffset attribute
was trying to make a smaller outlined textbox because the current one is massive and I need to use it on a form, was able to get the padding adjusted so the text fits in a smaller box but the hint floats above the box (expected due to reduced size) but when setting the HintAssist.FloatingOffset attribute it

[2020-08-13 11:47] database64128 commented on #1967
Indeterminate progress bars now completely stops animations when switched away to another page, but not when the window is minimized. Looks good to me though.

[2020-08-13 16:59] bombipappoo commented on #1967
Well, I have no good ideas about the window is minimized.

[2020-08-13 17:03] database64128 commented on #1967
There is certainly no easy fix. Probably just leave it to the upstream. 😅

[2020-08-14 16:16] Kelb-Tansley opened #2024 "Outlined TextBox has margin around text that is hard coded and too large"
I would like to be able to half the margin around the text. Or have a way of setting the margin.

[2020-08-14 22:02] KHALED-LAKEHAL commented on #1987
Hello @HHubbert this sample code for Pagination for datagrid
**Pagination.cs**
[code]
**PaginationTemplate**
[code]

**MainWindow.xaml**
[code]

**MainWindow.xaml.cs**
[code]

[2020-08-15 00:16] JustAnothaMike commented on #2024
Try using the height and padding attributes to make the box smaller and have the text still show in it. There's a fix for the hint not following the offset you tell it to if you need to use hints on them as well.

[2020-08-15 05:51] bezzad commented on #2018
Unfortunately, this code did not work!

![why](https://user-images.githubusercontent.com/10928710/90306305-0ae4dc00-dee1-11ea-993a-831f5d1f16d9.PNG)

[2020-08-17 16:37] #1969 closed

[2020-08-17 16:38] #2022 closed

[2020-08-18 04:10] Keboo commented on #2018
@bezzad I might need some more information on the project. It appears from your screenshot that the clear button is not actually being displayed inside of that TextBox. What language is being set there? I am wondering if perhaps the RightToLeft formatting is causing issues.

[2020-08-18 04:16] Keboo commented on #2024
You can also set Padding to be a negative value as well. This will cause the text to shift closer to the outline as well.

Be aware if you are also using a floating hint, you may need to use the `HintAssist.FloatingOffset` property to adjust the position of the floating hint to keep it positioned on the outline correctly.

[2020-08-18 04:17] #2008 closed

[2020-08-18 04:19] Keboo commented on #2000
Be aware that the PackIcon values are generated from https://materialdesignicons.com/. This library merely pulls in the latest changes so there may be breaking changes from these icons. You can see in the [release notes](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/PackIcon-ReleaseNotes) the complete list of breaking changes, as well as icons that have had visual change

[2020-08-18 06:12] #1994 closed

[2020-08-18 06:58] bezzad commented on #2018
Yes, my application language Persian which is Right To Left. The clear button has been displayed but that foreground colour is the almost same as the background.

[2020-08-18 17:58] david2020 commented on #263
Same problem

[2020-08-18 19:48] Keboo commented on #2018
@bezzad I will probably need a sample project. Right now I am not able to reproduce the screenshot that you showed above.
Have you tested with the latest 3.2.0 _preview_ NuGet package to see if it is still a problem?

[2020-08-19 13:17] Sinou3936 opened #2028 "MaterialDesignInXamlToolkit"
Vy MaterialDesignInXAML

[2020-08-19 17:17] Keboo commented on #2028
Is there an issue here?

[2020-08-20 04:05] Sinou3936 commented on #2028
Nothing , but  i just study this repositorie

[2020-08-20 15:24] #2028 closed

[2020-08-20 21:33] vicmic opened #2032 "dragablz TabablzControl and controls "trails""
When i use dragablz TabablzControl and add some controls on some tab, when change tab at runtime, there are some "trails" of last previous tab on current tab.

A have attached full simple example that reproduce the issue, and also some images of the results.

![FirstTab](https://user-images.githubusercontent.com/4671775/90827984-7f82a500-e33d-11ea-9a9a-5ce9d0683f11.JPG)

![SecondTab](https://user-

[2020-08-23 16:26] dragonballz96 opened #2034 "Dialoghost Partially Displayed in WPF"
I just discovered that MD popup dialogs in my WPF app (C#, .Net 4.8) will not displayed properly anymore. I have tried the sample app and it has the same issue as shown below:

![md dialog issue](https://user-images.githubusercontent.com/25214516/90983204-01253d80-e59f-11ea-9dc1-67cc35813e6e.PNG)

I just wonder if this issue was caused by Windows or .Net framework updates. Anyone facing similar si

[2020-08-23 20:41] Keboo commented on #2032
This should be addressed in the latest 3.2.0 preview NuGet packages

[2020-08-23 20:41] #2032 closed

[2020-08-24 03:47] Keboo commented on #2034
I am not currently able to reproduce this with the latest code or the [3.1.3 release](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/releases/tag/v3.1.3). Can you provide more information on how to reproduce this?

[2020-08-24 04:55] dragonballz96 commented on #2034
I have attached the clip to demonstrate the issue in the sample app.

[IMG_0959.zip](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/5115798/IMG_0959.zip)

I am using VS2019 Pro, 16.7.2 and running in Win 10 Pro environment.

I am suspecting the recent Windows Updates indicated below might be the root cause.

![image](https://user-images.githubusercontent.com/25214516/910

[2020-08-24 14:26] cbfrank opened #2035 "Default Context Menu of ComboBox is Hard to be Shown"
Hi
I find if the combobox is empty then it is hard to show the context menu by right click.
Repo https://github.com/cbfrank/ComboboxContextMenuBug

![image](https://user-images.githubusercontent.com/2193548/91057139-6b021d80-e659-11ea-8a5a-59d5d3b7cc87.png)

as shown by the demo pic, the context menu can be shown only when you right click inside the red region, there is no content menu when you cl

[2020-08-24 14:59] Keboo commented on #2035
Thank you for the bug report.
Attaching a copy of the above repo for historical archiving.
[ComboboxContextMenuBug-master.zip](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/5118632/ComboboxContextMenuBug-master.zip)

[2020-08-24 16:59] Keboo commented on #1987
Unforuently this is out of scope for this library as it only aims to provide styles and templates for using Material Design in WPF. Additional control functionality would need to come from another library.

[2020-08-24 16:59] #1987 closed

[2020-08-24 17:00] Keboo commented on #1967
Closing for now, as this does not appear to be a problem that can be reasonably solved within this library.

[2020-08-24 17:00] #1967 closed

[2020-08-25 14:35] jmwhitmire commented on #328
It seems that something has broken this fix. I cannot remove the Ripple from a CheckBox in a ListBoxItem, and the Ripple effect gets applied to the entire ListBoxItem, not just the CheckBox.

[2020-08-25 16:14] jmwhitmire opened #2036 "Disabling CheckBox ripple"
The CheckBox apparently doesn't use the Ripple control, so setting `RippleAssist.IsDisabled="True"` has no effect on it. For consistency, it should.

[2020-08-26 02:53] pengqi1991 opened #2037 "DialogHost can not show, when i use task.delay(100) ,it will show"
`

        DialogHost.Show(new SplashScreenView(){
             DataContext = new { Msg = "Loading..." }
        }, "Root");
       //await Task.Delay(100);
        var tran = await work.BeginTransactionAsync();
        try
         {
                  for (int i = 0; i < dt.Rows.Count; i++)
                  {
                            string str_Name = dt.Rows[i]["Event"].ToString();

[2020-08-26 15:17] ben1976de opened #2038 "DialogHost control embedded in a drawer control shows weird behaviour"
1) When having a DialogHost embedded in a Drawer control a strange behaviour can be seen when both are opened. Please see attached image which was captured using the latest WPF demo project:

![grafik](https://user-images.githubusercontent.com/70279048/91322302-debe3a80-e7bf-11ea-8c11-233adbf339eb.png)

2) Next issue: when removing an user control which is holding an opened DialogHost from the vis

[2020-08-27 10:41] #2037 closed

[2020-08-27 19:22] bender2k14 opened #2039 "Replace references to obsolete SecondaryAccent keys?"
Above the calls to `SetSolidColorBrush` that pass in `SecondaryAccentBrush` and `SecondaryAccentForegroundBrush` is a comment that says they will eventually be removed.

https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/5f972ca97b7adf4c83ca3a7f6703070e9a75d5e8/MaterialDesignThemes.Wpf/ResourceDictionaryExtensions.cs#L34-L36

Would it be helpful if I created a PR that replace

[2020-08-27 19:41] Keboo commented on #2039
@bender2k14 yes I would be happy to accept a PR with those changes.

[2020-08-27 20:58] TysonMN opened #2040 "Missing DynamicResource lookups when SnackbarMessage removed from Snackbar"
The [Super Quick Start](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Super-Quick-Start) documentation says to put an instance of the `BundledTheme` in the collection of merged dictionary of `Application`.  However, I put it in the collection of merged dictionaries for my `MainWindow`, which contains a `Snackbar`.  When one of its messages disappears, WPF says there are

[2020-08-28 10:22] bombipappoo commented on #2040
When the snackbar message disappears, `SnackbarMessage` is removed from the visual tree, then properties that reference a resource are re-evaluated.

[FrameworkElement.FindResource](https://docs.microsoft.com/en-us/dotnet/api/system.windows.frameworkelement.findresource?view=netcore-3.1) says this, so the resource on the orphaned `SnackbarMessage` is searched from `App`, not `MainWindow`.
You can

[2020-08-28 14:46] Kelb-Tansley opened #2042 "String format of date picker"
How do i set the date pickers string format to 'yyyy-MM-dd' or any other format?

[2020-08-28 15:31] bender2k14 commented on #2040
This is very helpful @bombipappoo.

This perfectly explains why the two workarounds don't have the same behavior.

Is there a way for MDinXAML to remove the `SnackbarMessage` in such a way that it doesn't cause the missing key warnings?  Maybe it could replace the dynamic resource bindings with constant values and then orphan the `SnackbarMessage`.  I am not really suggesting that MDinXAML _should

[2020-08-28 16:58] Keboo commented on #2040
Yea I would call this a bug that should be addressed. Ideally this library should attempt to avoid causing those types of errors in the output.

[2020-08-28 17:07] SincroB-Dev commented on #2042
You can use the String Format on any components.

[2020-08-28 17:32] bender2k14 commented on #2040
I am glad to hear you have such high standards for your library :)

I am willing contribute a PR for this, but I first need to figure out some solution...and then probably a good solution.  If anyone has any more helpful comments, then I would love to hear them.

In the meantime, I work on creating a test that fails because of this behavior.  I think I know enough to write such a test, but I am al

[2020-08-29 07:03] bombipappoo commented on #2040
I'm not sure if this is a good solution, but if it is missing, simply add it [like this](https://github.com/bombipappoo/MaterialDesignInXamlToolkit/tree/resource-not-found)?

Check the Debugging-Symbols-Microsoft Symbol Servers.
In addition, I recommend debugging with .NET Core, as it often fail to find the runtime source code with .NET Framework.

[2020-08-29 13:06] yaoganxingwei opened #2045 "MaterialDesignInXamlToolkit` open "XamlDisplayEx" does not exist"
I downloaded MaterialDesignInXamlToolkit-master\MaterialDesignToolkit.Full.sln from github. After decompressing it on my computer and opening this file with the latest version of VS2019, there will be such an error, many similar errors. How can i solve it, thank you

The name "XamlDisplayEx" does not exist in the XDG0008 namespace "clr-namespace:MaterialDesignDemo". MaterialDesignDemo App.xaml 2
T

[2020-08-29 16:31] hardiksarin opened #2046 "Question : MaterialDesignChoiceChipAccentOutlineListBox FontSize"
Hey There I just Just Started out with using this package, can anyone help me identify how can i adjust the font size and make my chips larger?
![Capture](https://user-images.githubusercontent.com/45598950/91641591-1688e480-ea43-11ea-8aaa-d52934217f34.JPG)

  <StackPanel
                Grid.Row="1"
                Grid.Column="0"
                Grid.ColumnSpan="3"
                Margin="10">

[2020-08-30 11:23] dragonballz96 commented on #2034
I ha

[2020-08-30 11:25] dragonballz96 commented on #2034
I have tried removing the Windows updates but the dialoghost was still not displaying properly. Any advice?

[2020-08-31 09:39] jespersh commented on #2034
Could you try software rendering? See https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/issues/1097#issuecomment-434181412

[2020-09-01 14:30] jonasmayor commented on #1998
@bombipappoo thank a lot for looking into this, do you think this can be merged so it goes into the 3.2.0 release? Thanks.

[2020-09-03 20:56] Keboo commented on #1952
Hi @NaamaBarIlan welcome!
Yes this is still available.
If you have any questions please feel free to reach out.

[2020-09-03 21:02] NaamaBarIlan commented on #1952
#2047

[2020-09-04 01:58] HClausing commented on #1661
On our company's current  framework (we are moving to a new with MD) we used to work with System.Threading.DispatcherFrame, something like this:

[code]

DialogResolved() is called by clicking on buttons (OK, Cancel, etc). We have an ViewModel action that runs assyncronous, and raises a MessageRequest Event. The view has a handler for this event and call the ShowDialog() from Messagebox clas. The

[2020-09-04 04:03] #1952 closed

[2020-09-04 04:23] #1998 closed

[2020-09-04 04:24] #2039 closed

[2020-09-05 01:24] pengqi1991 opened #2049 "i want to use treeview binding IsSelected and IsExpanded,but the style will not work"
`<TreeView x:Name="treeView"  ItemsSource="{Binding EventModels}"  >
         <TreeView.ItemContainerStyle>
              <Style TargetType="{x:Type TreeViewItem}" >
                   <Setter Property="IsSelected" Value="{Binding IsSelected}"/>
                   <Setter Property="IsExpanded" Value="{Binding IsExpanded}"/>
          </Style>
           </TreeView.ItemContainerStyle>
           <T

[2020-09-05 13:14] greuelpirat commented on #1684
@w-syss are you still working on this? Otherwise I would work on this.

[2020-09-06 11:59] bender2k14 commented on #2040
That was my problem.  Visual Studio found the source when I changed the target to `netcoreapp3.1`.

[2020-09-06 14:27] bender2k14 commented on #2040
That solution works (after replacing `SecondaryAccentBrush` with `SecondaryHueMidBrush` because of PR #2041).

[2020-09-06 18:47] bender2k14 commented on #2040
The following code is preventing me from writing a test that fails because of the issue in question.  I couldn't get the `Snackbar` loaded (either manually or when defined in XAML in a new project).  Even if I did, the last line that requires the containing window to not be minimized makes for a rather bad test.  In theory, the test that I have in mind would not need a visible `Window`.
https://gi

[2020-09-06 23:21] #1390 closed

[2020-09-06 23:21] #1509 closed

[2020-09-07 05:06] bombipappoo commented on #1684
@greuelpirat This issue should have been fixed in PR #1963 (I hope).

[2020-09-07 15:37] greuelpirat commented on #1684
@bombipappoo can confirm it. #1963 fixes this issue.

[2020-09-07 15:47] LeiYangGH commented on #2045
i met similiar issue(i can run the demo but opening xamls gave me errors and cannot preview the design). have you solved it? i cannot imagine such popular repo has such issue.

[2020-09-10 11:51] Gaheron opened #2054 "Option to customize or disable animations in ComboBoxes, ListBoxes, TreeViews, Expanders"
Duration of animations between different VisualStates of e.g. ComboBoxItems can not be customized or even disabled. It would be awesome if that were possible via a Property.

[2020-09-11 05:51] #1972 closed

[2020-09-11 05:51] #2013 closed

[2020-09-11 13:53] dragonballz96 commented on #2034
Hi. Indeed it was working after adding the following code:
RenderOptions.ProcessRenderMode = System.Windows.Interop.RenderMode.SoftwareOnly;

I had identified the issue was caused by my recent upgrade to Parallels Desktop v16. Everything was working fine in previous version (v15). I have already informed them to look into the issue. Thanks for your advice.

[2020-09-11 13:54] #2034 closed

[2020-09-11 14:17] Reza-Noei opened #2056 "Display Problem in DataGrid Rows When i set AlternatingRowBackground"
Hi Guys.

Thanks a lot for this brilliant UserControl Set.
That was awesome for my usage.

There is an issue in mouse over on DataGrid Style when i set AlternatingRowBackground:
Here is my Code:

            DataGrid.AutoGenerateColumns = true;
            DataGrid.AlternationCount = 2;
            DataGrid.SelectionMode = DataGridSelectionMode.Single;
            DataGrid.SelectionUnit = DataGrid

[2020-09-12 07:32] dragonballz96 opened #2057 "CCTV footage (IntPtr) not displaying in Dialoghost"
Currently, i am using Hikvision SDK to connect to various cameras. The footage is shown in a Win Forms Picture Box control as stated below:

 <WindowsFormsHost Grid.Row="1" Margin="20 14 20 0">
            <wf:PictureBox x:Name="pbCAMPreview" Width="640" Height="360" />
  </WindowsFormsHost>

I have to pass its pbCAMPreview.Handle (IntPtr) to the SDK function to get the footage. It is working in a

[2020-09-12 14:28] greuelpirat commented on #1945
I created a page in demo app to show this. I added timepicker as well as filled and outlined-templates. This is current situation:

![image](https://user-images.githubusercontent.com/16866222/92997630-ef3b1880-f514-11ea-84fe-2214c6bd93ae.png)

I am working on this.

[2020-09-13 00:40] Keboo commented on #2057
I assume the popup is likely what is causing the issue if the HikVision SDK is expected to be able to get ahold of window handle. Popups are their own lightweight window and separate from the main window.
There are a couple things I would suggest trying.

1. Switch to using the embedded dialog host (`Style="{StaticResource MaterialDesignEmbeddedDialogHost}"`). This secondary style embeds the dialo

[2020-09-13 00:44] Keboo commented on #2049
It looks like you are setting a style directly on the TreeViewItem and [overriding the default style](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/FAQ#when-custom-style-is-applied-the-material-design-theme-is-lost).
I suspect you simply need to add a BasedOn to the TreeViewItem style.
[code]

[2020-09-13 04:54] Keboo commented on #2046
Looks like this is a bug, the font properties are being passed. This should be fixed in tonight's release.

[2020-09-13 05:15] #2046 closed

[2020-09-13 05:28] Keboo opened #2061 "Update ColorZone to support Light/Dark accent color mods"
Currently the color zone supports setting Primary* values in its `Mode` property. Currently it only supports a single Accent value. We should add two additional values to `ColorZoneMode` called `AccentLight` and `AccentDark`.

The triggers that set the Background/Foreground for each of the modes are set in the [Generic.xaml](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/

[2020-09-14 04:43] #1949 closed

[2020-09-14 04:43] #1684 closed

[2020-09-14 17:40] dragonballz96 commented on #2057
Indeed, you are right. Option 1 is not appealing for my implementation. As for option 2, I am displaying the dialoghost in a View Model using the following code:

var addNewView = new AddNewView(RecId, RecNo);
await DialogHost.Show(addNewView, "RootDialog");

In this case, I am facing another challenge to search the Handle from WindowsFormsHost.Child in the Visual Tree. Do you know how can I do it

[2020-09-14 17:41] dragonballz96 commented on #2057
Indeed, you are right. Option 1 is not appealing for my implementation. As for option 2, I am displaying the dialoghost in a View Model using the following code:

var addNewView = new AddNewView(RecId, RecNo);
await DialogHost.Show(addNewView, "RootDialog");

In this case, I am facing another challenge to search the Handle from WindowsFormsHost.Child in the Visual Tree. Do you know how can I do it

[2020-09-15 01:49] #1966 closed

[2020-09-15 15:54] 756616071 opened #2062 "Hello, I have a problem. I hope you can help me"
Hello, I have a question to ask you. It is a problem caused by calling the time selection control in your project. I copied the code directly from your demo, but it can't run. This project is newly created directly and there is no other reference

![image](https://user-images.githubusercontent.com/44856671/93233776-0e080c00-f7ae-11ea-8590-6d144ec92090.png)

![image](https://user-images.githubuserc

[2020-09-16 02:44] Keboo commented on #2062
Hi @756616071 The demo app creates event handlers that require you to create methods in the code behind. I suspect you just need to remove these two lines:
[code]

[2020-09-16 02:56] 756616071 commented on #2062
Hello, I'm glad you can give me an answer. Maybe I'm stupid and I haven't found the knack. Although I can run the two lines of code, the button is not clickable. How can I use this?
![image](https://user-images.githubusercontent.com/44856671/93287081-36722380-f80b-11ea-80e0-44d949ba8e27.png)

[2020-09-16 03:18] Keboo commented on #2057
Hi @dragonballz96 I am not sure I understand the problem. The `WindowsFormsHost`'s base class is a `DependencyOpject` so you should be able to simply cast it.
If you are displaying the dialog using a view model and templates there are only a couple options.
1) Put something in the code behind that looks up the `IntPtr` and sets it on some property on the view model
2) Start from the `DialogHost` a

[2020-09-16 03:30] 756616071 commented on #2062
Hello, I'm glad you can solve the problem. I can open the time selector normally, but I have encountered a new problem. I hope you can help me. How can I know the time I chose and the time I chose to transfer in the second time

[2020-09-16 09:55] HenJigg opened #2063 "some ideas."
This is a great project, and I'm trying to make it into a video collection to share with WPF developers in China, for example: How do I use it? Design?
Because there is little content in this area, you are convenient in WPF and XAML which I think is very professional, if you have some special learning routes or materials, suggestions, etc.
I'd like to talk to you about my idea and be happy to prom

[2020-09-17 12:33] exo-tw opened #2065 "Set Clock minute resolution"
It would be nice if the minute resolution of the Clock control could be selected. So that it would e.g. snap to multiples of 5 minutes. Or 10, 15 or 30 minutes, or maybe even allow only full hours.
I rarely need the full 60 minute resolution, I practically never need to set 9:23, so it would be helpful if I had an easy way to snap the minutes to the selected increment (so 9:20 or 9:25 in my exampl

[2020-09-20 07:23] Keboo opened #2066 "FloatingHintComboBox looses hint"
From the demo application:
![278867ce-dd8d-438c-8347-d72321023d78](https://user-images.githubusercontent.com/952248/93706012-22fadd00-fad7-11ea-8b82-cdff95a68907.gif)

After selecting a value the hint disappears.
Version 3.2.0-ci1966

[2020-09-21 15:13] Keboo commented on #2063
Hi @HenJigg

I do have some sample projects as well as a few blog posts that are linked on [this repository](https://github.com/Keboo/MaterialDesignInXaml.Examples).
Currently my youtube videos are only in English. All of my videos should be marked with the [Creative Commons on YouTube](https://support.google.com/youtube/answer/2797468) which allows everyone to reuse and edit.

[2020-09-22 18:20] Prophetebe opened #2068 "Flipper without shadow border"
Hi,

Is it a way to remove the border (or just the shadow) on a flipper?

I put a button on each side of the flipper and I don't want to have border.

thank you.

[2020-09-23 16:50] dragonballz96 commented on #2057
Hi Kevin,

I have been trying various ways to get the handle but the footage is still not displayed. Apparently, I realized that even static Win Form PictureBox or Label won't work in MD Dialoghost:

xmlns:wf="clr-namespace:System.Windows.Forms;assembly=System.Windows.Forms"

<WindowsFormsHost Grid.Row="1">
<WindowsFormsHost.Child>
                <wf:PictureBox x:Name="pbCAMPreview" ImageLocation

[2020-09-24 07:01] valimaties opened #2069 "DataGrid three state sorting option / reset sorting"
Please consider to make a three state sort option in grid sorting.
First click on header will sort ascending, second click will sort data descending, and the third will reset the sorting, and the `SortDirectionIndicator` will be invisible in this last case.

Regards,
Vali

[2020-09-25 09:43] SpoinkyNL commented on #939
Any chance this could be addressed? It's still an issue to this day :(

[2020-09-25 09:52] jespersh commented on #939
I remembered I had left this comment: https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/issues/1130#issuecomment-609044707

[2020-09-25 20:06] SpoinkyNL commented on #939
Is there any chance you could PR that fix? I'm running into this issue and I'd hate to have to remove the animations because they are so lovely

[2020-09-26 06:33] Keboo commented on #2068
This appears to be a limitation with the [MaterialDesignCardFlipper](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.Flipper.xaml)
The simplest solution would be to use the default style for the flipper (omit the `Style="{StaticResource MaterialDesignCardFlipper}"` if you have it), and set the BorderThickness prope

[2020-09-27 15:48] hackf5 commented on #2066
This appears to be the expected behaviour. In `MaterialDesignThemes.Wpf\ComboBoxAssist.cs` there is a helpful comment:

[code]

This behaviour has been implemented in `<Style x:Key="MaterialDesignComboBox" TargetType="{x:Type ComboBox}">` so that the selected item is only visible by default when the combo is editable.

[code]

It took a little while for me to work out how it was doing this, but it

[2020-09-29 08:53] jamesport079 commented on #1867
I'm still receiving these warnings when closing tabs. I will look into the issue to see if Material Design is responsible.

[2020-09-29 21:59] Prophetebe commented on #2068
Hi, without the style MaterialDesignCardFlipper, every content element are displayed strangly (font size are bigger for example).

[2020-09-30 03:10] devriesb13 opened #2073 "Rating Bar support fractional values"
Hi there,

Can the rating bar handle displaying an average rating value (doubles) but let a user vote (integers) similar to how the SharePoint list items work?

Cheers Ben

[2020-09-30 07:55] jespersh commented on #2073
You mean like this?
![image](https://user-images.githubusercontent.com/1004198/94658390-06467c80-0303-11eb-88a5-a14637f9aba2.png)

[2020-09-30 13:32] jsinsel commented on #2066
This is happening now for a lot of our users after upgrading to 3.2.  The hint text disappears when you select an item for a combo box.

[2020-09-30 22:57] devriesb13 commented on #2073
Yes exactly, see my gif attachment for SharePoint version. Ignore the number 2, this is just a number of how many users have voted.

My thoughts around this would be. By default you see the average rating bound to some (double) value. When you hover over the rating bar, it turns on  eg "rating mode", then you can select a rating (integer) you want to give.

![2020-10-01_8-47-16](https://user-image

[2020-10-01 04:17] Keboo opened #2074 "Rename filled PasswordBox style"
The style `MaterialDesignFilledPasswordFieldPasswordBox` should be renamed to be `MaterialDesignFilledPasswordBox`

The style can be found [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.PasswordBox.xaml)

Update all usages in the demo app to use the new style name as well.

[2020-10-01 04:18] DevanshCodes commented on #2074
can I work on this?

[2020-10-01 04:18] Keboo commented on #2074
@DevanshCodes yes go for it

[2020-10-01 04:23] Keboo opened #2075 "Rename outlined Password box style"
The style `MaterialDesignOutlinedPasswordFieldPasswordBox` should be renamed to `MaterialDesignOutlinedPasswordBox`

The style can be found [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.PasswordBox.xaml)

Update all usages in the demo app to use the new style name as well.

[2020-10-01 04:25] Keboo opened #2076 "Renamed filled TextBox style"
The style `MaterialDesignFilledTextFieldTextBox` should be renamed to `MaterialDesignFilledTextBox`

The style can be found [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.TextBox.xaml)

Update all usages in the demo app to use the new style name as well.

[2020-10-01 04:25] DevanshCodes commented on #2074
Hey @Keboo can you take a look at the PR?

[2020-10-01 04:27] Keboo opened #2078 "Renamed outlined TextBox style"
The style `MaterialDesignOutlinedTextFieldTextBox` should be renamed to `MaterialDesignOutlinedTextBox`

The style can be found [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.TextBox.xaml)

Update all usages in the demo app to use the new style name as well.

[2020-10-01 04:28] DevanshCodes commented on #2078
Can I take this?

[2020-10-01 04:42] Keboo opened #2079 "Remove obsolete members"
There are several methods/class that have been flagged as obsolete is prior version. With the 4.0.0 release it is time to remove them. The following items should be removed:

- [ ] [DialogClosingEventArgs constructor](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/DialogClosingEventArgs.cs)
- [ ] [LargeArcConverter](https://github.com/Mater

[2020-10-01 04:42] abuZayed15 commented on #2076
Can I give this issue a try? It's my first time contributing to an open source project

[2020-10-01 04:49] Keboo opened #2080 "Remove old theme resources"
With the 3.x releases the theming was redone and the brush names were adjusted. With the 4.0.0 release we will be removing these old theme resources.

We should locate any remaining instances of these theme resources, update them, and remove the old `SecondaryAccent*` resource.

Update the following:
- [ ] `SecondaryAccentBrush` becomes `SecondaryHueMidBrush`
- [ ] `SecondaryAccentBrushColor` beco

[2020-10-01 04:53] Keboo opened #2081 "Move TransitionAssist to new root namespace"
The [TransistionAssist](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Transitions/TransitionAssist.cs) class lives within the `MaterialDesignThemes.Wpf.Transitions`. This file should be moved up a directory (to be inside of the MaterialDesignThemes.Wpf directory), and its namespace changed to be `MaterialDesignThemes.Wpf`.

This will also

[2020-10-01 04:56] Keboo commented on #2076
@abuZayed15 yes go for it. If you have questions feel free to post them here, or on the [gitter chat](https://gitter.im/ButchersBoy/MaterialDesignInXamlToolkit)

[2020-10-01 05:04] Keboo opened #2082 "Rename validation theme resources"
Most of the theme resources are prefixed with "MaterialDesign" exception for `ValidationErrorBrush` and `ValidationErrorColor`. We should add this prefix to all usages of both the brush and the color.

[Usages of ValidationErrorBrush](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/search?q=ValidationErrorBrush)
[Usages of ValidationErrorColor](https://github.com/MaterialDesign

[2020-10-01 05:07] Keboo opened #2083 "Rename ColorHelper to ColorAssist"
By default all of the extension method classes in this library end with the "Assist" suffix. We should update [ColorHelper](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignColors.Wpf/ColorManipulation/ColorHelper.cs) to be named `ColorAssist`.

[2020-10-01 05:11] Ahmeed2m commented on #2075
Can I work on this

[2020-10-01 05:18] abuZayed15 commented on #2076
Great. I will take it. Is there documentation that would help me get the  MaterialDesignInXAMLToolkit up running in an IDE, like Visual Studio? Thank you for letting me have this issue

[2020-10-01 06:06] abuZayed15 commented on #2080
Can I also take this one?

[2020-10-01 07:00] jespersh commented on #2073
To answer your question then, that's a no sadly:
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/1873f0d58929ededc8724bac3a68fa260dfd498a/MaterialDesignThemes.Wpf/RatingBar.cs#L65-L69

But I don't see why someone couldn't modify this to support halves

[2020-10-01 07:36] aniket786333 commented on #2079
That's good

[2020-10-01 11:01] computamike commented on #2065
so this is for the time picker?

[2020-10-01 13:14] jespersh commented on #2065
You'd be interested in #1035

[2020-10-01 20:24] 4Rebin commented on #2083
Hey Keboo,
I like to work with this issue.

[2020-10-03 03:02] trevorcarter83 commented on #2082
@Keboo I can take this if you like.

[2020-10-03 04:22] Keboo commented on #2082
@trevorcarter83 thanks but it looks like there is already a PR for it

[2020-10-03 04:59] #2074 closed

[2020-10-03 05:03] #2075 closed

[2020-10-03 05:08] #2083 closed

[2020-10-03 05:33] #2082 closed

[2020-10-03 05:45] #2081 closed

[2020-10-03 05:56] #2079 closed

[2020-10-03 06:02] #2076 closed

[2020-10-03 06:06] #2078 closed

[2020-10-03 06:18] #2066 closed

[2020-10-03 15:41] teo-tsirpanis opened #2103 "Please add the "hacktoberfest" topic."
I want to make a contribution to this repository but I also want it to count against my contributions for [2020's Hacktoberfest](https://hacktoberfest.digitalocean.com/). But for this to happen, [the repository must have the `hacktoberfest` topic](https://github.com/digitalocean/hacktoberfest/pull/596).

[2020-10-03 16:32] #2080 closed

[2020-10-03 16:33] Keboo commented on #2103
I have sent a message to the admins to request this change.

[2020-10-03 16:33] #2103 closed

[2020-10-03 16:39] Keboo commented on #2073
Currently there is not support for fractional amounts. If someone would like to try and tackle this, I would be happy to accept a PR for it.

[2020-10-03 16:44] Keboo commented on #2065
I believe this request is already covered by #1035. If there are additional requirements that should be considered please add them there.

[2020-10-03 16:44] #2065 closed

[2020-10-03 17:13] Lokixa commented on #2035
Just cloned the repo, updated to 3.2.0 and the bug is gone.

[2020-10-03 22:14] Keboo commented on #2035
Also tested and confirmed. Updating to 3.2.0 resolves the issue

[2020-10-03 22:14] #2035 closed

[2020-10-04 10:00] mgnslndh commented on #1894
Should this issue be considered as fixed or is there any work left to do?

[2020-10-05 11:02] Nextra opened #2111 "ColorZone not drawing shadows"
ColorZone elements are currently not drawing shadows correctly. The Demo app shows this in at least two places:

- Main/top header bar
- "Shadow Header" example on the GroupBox page

I traced the issue back to #2058 where ClipToBounds was defaulted to "True" for the primary ColorZone style. Reverting this change in Generic.xaml gets shadows working again.

[2020-10-07 07:16] RobSmyth opened #2112 "Validation decorators overlay dialog"
Hi,

When I create a dialog from a a DialogHost, and the dialog overlays an area of the application, that launched the dialog, that is showing validation errors, the decorators (red underlines) show up clearly on by dialog. It appears that are on a layer above the dialog. If I change the DialogHost to be a portion of the UI that does not display validation errors, all is good.

Known issue?

Detai

[2020-10-07 10:25] Christiankoo commented on #2073
Can i take this issue, please?

[2020-10-07 12:35] Keboo commented on #2073
@Christiankoo go for it. Let me know if you have any questions

[2020-10-08 00:42] SirUppyPancakes commented on #2066
Is there a workaround to get the hint showing again before the 4.0.0 release?
The only thing I can come up with is copy-pasting the entire style/template and making the changes from the above pull-request which I'd really like to avoid if possible...

[2020-10-08 14:05] CorradoBarbero commented on #2112
Same here, see pictures before and after running the dialog, the validation error does not get "opaqued":
![2020-10-08_160255](https://user-images.githubusercontent.com/62978436/95469475-fc1a2300-097f-11eb-908e-4a83a3b6ba9c.jpg)
![2020-10-08_160313](https://user-images.githubusercontent.com/62978436/95469478-fde3e680-097f-11eb-8cfb-a3e7fbe8c8ce.jpg)

[2020-10-09 18:30] strongbutgood commented on #1197
I've just run into this issue myself and it is very odd indeed.

The classic WPF styling is

[code]

The MDIX styling has the content presenter at its core, essentially the same.

[code]

I can replicate the same behaviour though by using a vanilla DataGridComboBoxColumn and setting the `ElementStyle` to `MaterialDesignDataGridComboBoxTemplate` so I think it sits in there.

[2020-10-10 19:59] #2061 closed

[2020-10-10 22:17] Keboo commented on #2112
There was an issue with adorners that was addressed in the 3.2.0 release. Can you update to the 3.2.0 and see if that resolves the issue?

[2020-10-10 22:41] Keboo commented on #2111
That change inadvertently changes the root level ClipToBounds in addition to the one on the nested Border. You can work around this by simply settings `ClipToBounds="False"` on your ColorZone. I have updated the 4.0.0 to change the default so shadows will show by default.

[2020-10-10 22:43] Keboo commented on #2069
Thank you for the suggestion. However at this time that is the default behavior of the WPF data grid. As this library is designed to bring material design, there is not currently plans to extend the existing DataGrid behavior.

[2020-10-10 22:43] #2069 closed

[2020-10-10 22:44] Keboo commented on #2063
Close for now, let me know if there is any more follow up

[2020-10-10 22:44] #2063 closed

[2020-10-10 22:47] Keboo commented on #2045
Please see the documentation for [compiling from source](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Compiling-From-Source). From the description it sounds like it may be having trouble resolving dependencies.

It is also worth mentioning `XDG0008` is a designer error, not a compilation error.

[2020-10-10 22:55] #2111 closed

[2020-10-10 23:12] Keboo opened #2118 "Update paket to use the dotnet version"
We are currently still using the old [Paket bootstrapper](https://fsprojects.github.io/Paket/get-started.html) we should remove this and instead update to using paket as a dotnet local tool. (docs [here](https://fsprojects.github.io/Paket/get-started.html)).

For this I would expect to see:
- [ ] the existing .paket directory removed.
- [ ] A new dotnet local tool manifest created for paket

[2020-10-10 23:13] Keboo opened #2119 "Update ShowMeTheXAML to version 2.0.0"
ShowMeTheXAML just released a new 2.0.0 with some breaking changes.
The key differences is the `Key` properties on the XamlDisplay class was renamed to `UniqueKey`. We should update the version we are using to 2.0.0 and update all of the usages to using the new property.

These dependencies are managed with [Paket](https://fsprojects.github.io/Paket/learn-how-to-use-paket.html) not NuGet directly

[2020-10-11 07:53] CorradoBarbero commented on #2112
My screenshots were from 3.2.0 already...

[2020-10-11 17:12] Nextra commented on #2111
I was aware of that, but not sure how to properly combine the new demo bit from #2058 with shadows. Seems like that could only be done with some kind of attached helper?

[2020-10-12 02:49] #2118 closed

[2020-10-12 10:33] M0n7y5 opened #2125 "Weird visual artifacts in Demo. (Navigation Rail)"
Hi,
i found weird visual artifacts in Demo app, section Navigation Rail. You can see whats happening on gif bellow:
![Y3XRfd8B6c](https://user-images.githubusercontent.com/17201053/95736733-e3af4e80-0c86-11eb-9363-7db8c66c9ccb.gif)

[2020-10-12 17:19] Keboo commented on #2125
Thanks for reporting this. This was a known bug at time of release. It is actually related to the ripple control, not the Navigation Rail. Since this was a pre-existing problem and not caused by the navigation rail, I elected to release it as is, and plan to circle back on this one.

[2020-10-12 17:26] Keboo commented on #2112
Ah this is likely caused by using the popup for the validation rather than the inline one. Those darkened overlays are done within the current visual tree, while popups are lightweight windows and will show on top of anything in the current window.
There is a `ValidationAssistn.UsePopup` attached property you can set to `false` that will cause the validation to show within the current visual tree,

[2020-10-13 07:30] CorradoBarbero commented on #2112
Thanks, the workaround worked perfectly!

[2020-10-14 00:13] computamike commented on #1035
I've had a bit of a crack at this - I've set up a clock resolution - but I'm not sure if this solves the original problem - and I could use some help / guidance around this.

I recorded a quick screen cast (now converted to a GIF) to show what I've done.
![ezgif-7-9169268107fc](https://user-images.githubusercontent.com/464876/95928797-46553700-0dba-11eb-9971-7b3dfae99fd1.gif)

so I've set this up

[2020-10-14 17:32] wim07101993 commented on #1901
Same issue. Moved folder to C:// but did not work...

msbuild -t:restore output:
[code]

The errors are the same for every project. Help?

[2020-10-14 19:56] Keboo commented on #1901
@wim07101993 it looks like you are trying to compile them using MSBuild. These projects use the latest version of .NET Core and you will need the [dotnet cli](https://docs.microsoft.com/en-us/dotnet/core/tools/) to compile them running `dotnet build`.

[2020-10-15 08:24] MalshaRajapaksha commented on #2068
border: none will remove the border all together.

[2020-10-15 11:47] AmRo045 opened #2130 "MaterialDesignFlatButton Theming Issue"
Changing the primary color doesn't apply in `MaterialDesignFlatButton` mouse over background.

MDIX Version: 3.2.0

Code to reproduce:
[code]
![MaterialDesignFlatButton Theming Issue](https://uupload.ir/files/vym9_ezgif.com-gif-maker.gif)

[2020-10-15 12:37] jespersh commented on #2119
@Keboo what should one expect from this Uno.UI dependency defined in the nuspec file of SMTX?
[code]

[2020-10-15 17:09] wim07101993 commented on #1901
That was what i tried first but it gives roughtly the same error:
[code]

[2020-10-15 17:20] wim07101993 commented on #1901
Ok I ran the `dotnet tool restore` command and then the `dotnet build` command from the cli. Which seems to have fixed it. But perhaps it should come in the docs since they just say open solution and press F5, which I did first 😉.

[2020-10-16 02:52] Keboo commented on #2119
The netstandard dependency should not be picked up by WPF since the .NET Framework and NET Core App dependencies should be a better match. I would not expect that to affect this project.

[2020-10-16 05:34] hatebearz opened #2132 "Floating hint of ComboBox disappears with specific FontSize"
Setting FontSize of Combobox to one of specific values (6, 7, 10, 11, 15, 16, etc.) makes floating hint disappear.

MDIX version: 3.2.0.
This issue does not exist on v3.1.3.

Code to reproduce:
[code]

![image](https://user-images.githubusercontent.com/46778854/96216743-7b1fe480-0f9a-11eb-87c9-097f04664fed.png)

[2020-10-16 05:37] #2132 closed

[2020-10-16 05:38] hatebearz commented on #2132
Just discovered #2100 fix.

[2020-10-16 12:27] badcel opened #2133 "ToggleButton throws exception if IsThreeState is enabled"
The ToggleButton throws an exception if the "IsThreeState" property is set to true and the button is clicked.

Exception thrown: 'System.InvalidOperationException' in PresentationFramework.dll
An unhandled exception of type 'System.InvalidOperationException' occurred in PresentationFramework.dll
Der Name "IndeterminateCheck" wurde im Namensbereich von "System.Windows.Controls.Grid" nicht gefunden.

[2020-10-17 04:25] #2119 closed

[2020-10-17 04:29] #2068 closed

[2020-10-17 04:34] #1914 closed

[2020-10-17 04:40] #1810 closed

[2020-10-17 23:56] LoRdPMN opened #2134 "DataGridAssist throws System.InvalidOperationException when clicking on a DataGridTemplateColumn.HeaderTemplate with Run inside a TextBlock"
When using a HeaderTemplate like this:

[code]

and clicking the ColumnHeader to reorder the DataGrid, if the pixel clicked is exactly above the rendered text, it throws a System.InvalidOperationException on a call from DataGridAssist to VisualTreeHelper.GetParent(), saying that "Run" is not a Visual.

I tracked down the issue to this commit: #1927

In this part of DataGridAssist.cs:
[code]
I thin

[2020-10-18 00:42] LoRdPMN commented on #2134
Current workaround is to set the attached property `md:DataGridAssist.EnableEditBoxAssist` to `False`.

[2020-10-18 05:37] 42805578 opened #2135 "Cannot dynamically change the background color of the TreeViewItem during drag drop TreeViewItem"
When drag drop a TreeViewItem over another TreeViewItem, I  want to change the background color of the target TreeViewItem, in my c# code, I set the background as below:
targetTreeViewItem.Background=Colors.Green;
but the background not change

Any advice?

[2020-10-18 06:12] npuc85 opened #2136 "MaterialDesignFlatAccentButton Style has incorrect background hover color"
In https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.Button.xaml the definition for `MaterialDesignFlatAccentButton` is based on `MaterialDesignFlatButton` but the only change is to the `Foreground` color to `SecondaryHueMidBrush`, so it's still using the `IsMouseOver` Trigger from the base style:

[code]

As you can

[2020-10-19 13:29] Streissi commented on #2015
anyone up to this?, otherwise i will grab it

[2020-10-19 15:14] TysonMN commented on #922
Here are the two error messages as text.
[code]

[2020-10-19 15:17] TysonMN commented on #922
These relative bindings are defined on lines 31 and 32
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/d75bac11b6d25ad34c78e416b26727344da8c487/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.ListBox.xaml#L27-L32

[2020-10-19 16:27] Keboo commented on #2015
@Streissi all yours

[2020-10-19 18:01] stigrune commented on #2135
The background is set to transparent with no possible overrides in the default templates.

This is a custom case and you can solve it by implementing your own custom TreeViewItem template that is used in your application. Base it of [MaterialDesignTreeViewItem in MaterialDesignTheme.TreeView.xaml](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/d75bac11b6d25ad34c78e416b267

[2020-10-19 18:31] TysonMN commented on #922
Here is a [GitHub repository containing a minimal working example](https://github.com/TysonMN/MaterialDesignInXamlToolkit_922).  Any time an item is removed, the two binding warnings are displayed in the "Output" window of Visual Studio.

[2020-10-20 03:01] Keboo commented on #922
Uploading sample project for historical reference.
[MaterialDesignInXamlToolkit_922-main.zip](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/5405991/MaterialDesignInXamlToolkit_922-main.zip)

[2020-10-20 03:06] Keboo commented on #2135
This looks like a simple thing that could be fixed. Simply replacing the hard coded value (as indicated by @stigrune) with a TemplateBinding should fix it (ideally adding a corresponding UI test).

[2020-10-20 03:28] TysonMN commented on #922
I think I have a fix too.  I will continue working on this tomorrow.

[2020-10-20 03:29] Keboo commented on #2136
IMO a solution would be to do the following:

- [ ] Create a new attached properties in the `ButtonAssist` class. Something like like `FlatButtonMouseOverBackground` and `FlatButtonMouseOverOpacity`
- [ ] Default the attached properties in the base style to `{DynamicResource PrimaryHueMidBrushColor}` and `0.16` respectively.
- [ ] Remove the hard coded resource `PrimaryHueMidBrush` from the contro

[2020-10-20 03:38] Keboo commented on #2134
That looks like a bug to me.
I think you are on the right path with the proposed solution. I would suggest a few things:

- [ ] `GetVisualAncestry` should validate that `leaf` is a `Visual` or `Visual3D` before passing it off to `VisualTreeHelper.GetParent`, blindly doing it is clearly problematic.
- [ ] If the above type check fails, I think it is acceptable to fall back to using `LogicalTreeHelp

[2020-10-20 05:14] AmRo045 commented on #2136
@Keboo  Instead of attached property we could use a converter like
 `BrushOpacityConverter` to applying the primary or secondary brush as `IsMouseOver` background. I already created a PR (#2131) for similar issue (#2130).

[2020-10-20 09:45] Streissi commented on #2015
@Keboo should i add events (opened/closing) for every Drawer Dock position or one general where you get which position raised the event in the event agrs?

I will prefer the second approach, because mostly you have only one drawer in your application and if you have more than one, you can switch by the Dock enum in the event args

[2020-10-20 10:21] jespersh opened #2137 "Run dotnet tool restore as part of build (VS)"
This is based on two reports on gitter that the project can fail to build as they didn't run `dotnet tool restore` which installs paket as a local tool for them.
Can we figure out a way to make building the solutions in VS run this command for people?

To experience this remove: `C:\Users\<user>\.dotnet\toolResolverCache\1\Paket`

[code]

[2020-10-20 11:14] tomasfil opened #2138 "DialogHost not working at all"
Hello,

I have issue that the DialogHost is not showing anything at all.
Even if I set ``IsOpen="true"``, then nothing show up as well.

.net Core 3.1

Tested versions: 4.0.0-ci2156, 3.2.0

``
<Window x:Class="MEAC_Backup_UI.MainWindow"
xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
xmlns:d="http://schemas.microsoft.com/expr

[2020-10-20 13:03] Keboo commented on #2015
I like the second approach as well.

[2020-10-20 13:22] Keboo commented on #2137
I did update the docs to reflect this. The really challenging part with doing this "automatically" is it really needs to occur before MSBuild starts running. Unforuently there is not a clear scripting mechanism for running inside of VS, but before MSBuild runs.

What would be nice is including a `build.ps1` at the root of the repository that does things like [check/download install dotnet core](ht

[2020-10-20 13:42] jespersh commented on #2137
There could be something like
[code]

There is quite the list of values AfterTargets https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-targets
And I'm speculating which of the values would be appropriate here:
* BeforeBuild
* PrepareForBuild

I also see the possible option of adding it to the Paket target https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/d75bac11

[2020-10-20 14:41] #2138 closed

[2020-10-20 15:15] TysonMN commented on #922
PR #2142 fixes this issue.  In the meantime, here is a workaround that anyone can use right now.  It combines the fix in the PR with the way to [override default styles set by MDinXAML](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Overriding-Default-Styles).

[code]

[2020-10-20 16:02] TysonMN commented on #922
I was planning on attaching a ZIP after I thought this issue is resolved (and I delete that repo).  I thought you prefered a GitHub repo like that over an attached ZIP since the [new issue template](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/issues/new) says

Sorry for not also attaching a ZIP of the MWE.

[2020-10-20 16:22] TysonMN opened #2143 "Include key when overriding default style?"
The [Overriding Default Styles wiki page](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Overriding-Default-Styles) gives an example like the following for how to override a default style.
[code]

However, I would not describe this as overriding a default style.  I would describe this as overriding a non-default style because a key is given.

Instead, I expected an exampl

[2020-10-20 18:01] stigrune commented on #2125
Looks like its the [AdornerDecorator](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/d75bac11b6d25ad34c78e416b26727344da8c487/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.Card.xaml#L17) for the ShadowEdge in the CardTemplate that causes the issue. It happens only when the TabControl has a ShadowDepth set. Maybe this information can help someone else continue debugg

[2020-10-21 08:39] jespersh commented on #2137
Relevant: https://github.com/dotnet/sdk/issues/11253

[2020-10-21 14:29] oSethoum opened #2144 "Cannot Rebuild The Project"
# ERRORS WHEN TRYING TO REBUILD THE PROJECT

![image](https://user-images.githubusercontent.com/46224889/96734240-3e952400-13b2-11eb-9fae-9954650f9049.png)

[2020-10-21 17:37] dabasdev commented on #897
i now face the same problem
 the selected item text is always to the left , even i set (HorizontalContentAlignment="Left")

[2020-10-21 18:15] TysonMN commented on #2144
Can you share the output of the build?

[2020-10-21 18:24] TysonMN commented on #2133
The exception message (in English) is

Instead of an exception, what behavior did you expect?

[2020-10-21 21:45] oSethoum commented on #2144
@TysonMN

The output file is so long here's a link
[output.txt](https://github.com/oSethoum/build-output/blob/master/output.txt)

I noticed these issues too in the dependencies, but all the dll's files are available and i referenced them, but still getting the same issues.
![image](https://user-images.githubusercontent.com/46224889/96790637-03fdac80-13ef-11eb-98eb-6c2302e3072e.png)

[2020-10-22 00:44] TysonMN commented on #2144
The [output says](https://github.com/oSethoum/build-output/blob/f66454d1342251c03da0bb5304e1ab281b2b33c4/output.txt#L1512-L1513)

Try running `dotnet tool restore`.

[2020-10-22 01:43] oSethoum commented on #2144
@TysonMN  Thanks, it's solved now the build was successful.
The file **.config/dotnet-tools.json** was locked i think it's because i downloaded it as zip file and i didn't clone the project with git.

now the build is successful, but i didn't find the demo executable file in the debug folder, i can't run it either from vs studio.
![image](https://user-images.githubusercontent.com/46224889/96808171

[2020-10-22 02:00] TysonMN commented on #2144
You are trying to execute the project `MaterialDesignThemes.Wpf`.  In the "Solution Explorer", right-click the project `MaterialDesignDemo` and select "Set as Startup Project".  Then try to run.

[2020-10-22 02:02] oSethoum commented on #2144
@TysonMN  Thank You so muc sir, am new to WPF and C# in general, i didn't notice that, you just taught me something ❤

[2020-10-22 02:09] TysonMN commented on #2144
Glad to help :)

I just created PR #2145, which will help to prevent situations like that were someone tries to execute a project that is not executable.

If all your issues are resolved, then you can close this issue.

[2020-10-22 02:11] oSethoum commented on #2144
All issues resolved thanks !.

[2020-10-22 02:11] #2144 closed

[2020-10-22 05:39] badcel commented on #2133
Actually I would prefer the `ToggleButton` to support the third state. E.g. if the `IsThreeState` property is disabled but the `IsSelected` property is set to `null` the `ToggleButton` could show a different icon.

We are using the `ToggleButton` to let the user select data to export. If the data is exported we switch to the third state to allow the user to "unexport" the data per data element. Cu

[2020-10-23 05:17] #2036 closed

[2020-10-23 06:16] #2136 closed

[2020-10-23 06:16] #2130 closed

[2020-10-23 06:17] #2135 closed

[2020-10-23 12:14] M0n7y5 commented on #1116
I have same problem with dialogs. I got only like 5 FPS with this config:
[code]

Sometimes there is no animation at all :(

[2020-10-23 12:15] M0n7y5 commented on #1116
Also ControlzEx  solution no is longer working

[2020-10-24 23:51] RobSmyth commented on #2112
Hi,

Apologies for my slow response. The issue remains from me using 3.2.0 and `ValidationAssist.UsePopup`. The image blow show the dialog on the left with the validation lines from the window behind.

![image](https://user-images.githubusercontent.com/6183736/97095809-ddba6400-16af-11eb-9350-29aa9d6d1e94.png)

The control generating the validation is:

[code]

[2020-10-25 03:05] rohansp commented on #2056
@Keboo @Reza-Noei  I would like to solve this.Can I try?

[2020-10-25 03:41] rohansp commented on #2056
@Keboo I am getting build errors on this project.
![image](https://user-images.githubusercontent.com/11171608/97098365-19224780-164a-11eb-87cb-2820fc367e97.png)

[2020-10-25 15:52] jespersh commented on #1945
@Keboo if you see this, then close this as resolved

[2020-10-25 16:20] Keboo commented on #1945
Thanks @jespersh

[2020-10-25 16:20] #1945 closed

[2020-10-25 16:51] Keboo commented on #2056
@rohansp those errors seem to indicate that it is having trouble resolving references. Make sure you are on the latest code on the master branch then follow the directions [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Compiling-From-Source#compiling-from-source) to get started.

[2020-10-25 17:08] Keboo commented on #2133
I believe this issue is caused by [this portion](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/de1372594d003948306ea5efc9e0641b57dd2708/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.ToggleButton.xaml#L101-L105) of the ToggleButton style.

I agree with the above proposal that the toggle button should support the indeterminate state.

Unfortunately this is a WPF spec

[2020-10-25 20:32] badcel commented on #2133
The hard thing is probably to make it easy to change the icon of the indeterminate state without forcing the users to copy the full ToggleButton style.

By default the indeterminate state could be displayed in an unchecked state, too.

[2020-10-26 15:34] HClausing commented on #2125
By the moment, It's better to work with materialDesign:ShadowAssist.ShadowDepth="Depth0" on TabControl instance.

[2020-10-27 11:11] Xaalek opened #2148 "Can't change the icon kind programmatically"
I don't now why but when I do ` MyIcon.Kind = "SquareOutline"` in an event, my app doesn't start. So I put it in a try catch. My app now starts but it doesn't show me any exception. And the icon doesn't change when I do my event.

This is my icon in xaml
`<materialDesign:PackIcon x:Name="ItemMaxIcon" Kind="SquareOutline" Height="15" Width="15" Margin="10 1"/>`

And this is my Icon change in the co

[2020-10-27 18:50] Keboo commented on #2148
I think the issue is you appear to be trying to set the `Kind` property to a string in the code behind. However, that property is of type `PackIconKind` so in code you should do something like this:
[code]

[2020-10-28 01:17] pingu2k4 opened #2149 "Duration Override is not passed between all Enqueue methods for Snackbars"
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/e799b0cbcef70f5d9be2e502223244bdb2d58783/MaterialDesignThemes.Wpf/SnackbarMessageQueue.cs#L194

This line is missing passing in the duration override. Anything passed to this overload of Enqueue for the duration override will be ignored.

[2020-10-29 06:30] artipo commented on #2149
Hi, Can I try solving this issue?

[2020-10-29 06:57] RobSmyth commented on #2112
As the issue persists with 3.2.0 should i / can I reopen the issue?

[2020-10-29 06:58] RobSmyth commented on #2112
Do closed issues get looked at?

[2020-10-29 17:07] jotunskij opened #2152 "Text foreground in datepicker in colorzone wrong"
This is the same issue as #315 (which is closed), but my issues presist.

I'm running 3.2.0 and when I place a datepicker in a colorzone I get the following error, shown in image:
![dtp-color-zone](https://user-images.githubusercontent.com/1684523/97607561-7256f600-1a11-11eb-92f9-114f0eefa53a.PNG)

White text on white background. When switching to a dark theme, it works correctly.

[2020-10-30 03:35] maye1115 commented on #2144
But what causes this problem?

[2020-10-30 03:58] Keboo commented on #2112
@RobSmyth are you able to provide a project that reproduces the issue?

[2020-10-30 04:28] #922 closed

[2020-10-30 04:58] #2149 closed

[2020-10-30 09:14] artipo commented on #2152
I tried to replicate your issue with a simple setup, without success.

[code]

![2020-10-30_10h02_27](https://user-images.githubusercontent.com/13442010/97680902-b55bac80-1a97-11eb-9155-644a619dcc05.png)

Please, can you share more of your code?

[2020-10-30 10:44] TysonMN commented on #2144
I think it is the integration of `paket` and Visual Studio.  `paket` is definitely a more capable NuGet package manager, but my opinion is that it is not that much better to be worth the effort because of issues like this.

[2020-10-30 19:08] jotunskij commented on #2152
So, this is the code:
[code]

It's contained in a UserControl. The following is relevant code from my App.xaml:

Common style used for all my usercontrols
[code]

MaterialDesign initializaiton code. The commented colors are because the users of the system are able to customize their theme colors (and light/dark) during runtime.

[code]

Thanks for looking into this!

[2020-10-31 03:05] RobSmyth commented on #2112
I'll see if I can, current code is in a relatively large project.

[2020-10-31 08:10] CorradoBarbero commented on #2112
@Keboo, I just realize now that you had closed the issue, while "not using the popup" is just a workaround, which worked and is fully acceptable for me but does not mean the defect is solved. Sorry if I failed to keep this on track.

@RobSmyth, I can prepare a sample in case you can't, just let me know.

[2020-10-31 12:43] XiaofengdiZhu commented on #2137
MSB3073	命令“dotnet paket restore”已退出，代码为 1。
MSB3073 The command "dotnet paket restore" exited with code 1
I can't build any component of the solution at all, help!

[2020-11-01 11:03] dongyaosheng opened #2155 "AT the Pickers' Page last Row ,please help"
The code that tool supply to me `
<Button
    Margin="8 0 0 0"
    Content="..."
    Command="{x:Static materialDesign:DialogHost.OpenDialogCommand}"
    materialDesign:DialogHost.DialogOpenedAttached="CombinedDialogOpenedEventHandler"
    materialDesign:DialogHost.DialogClosingAttached="CombinedDialogClosingEventHandler">`

But it cannot work ,wpf shows the Button likes  that it is disabled and i

[2020-11-01 18:09] #2040 closed

[2020-11-01 22:12] RobSmyth commented on #2112
@CorradoBarbero - Trying to get to it. Not when/if I can.

[2020-11-02 16:14] artipo commented on #2152
Ok so, it tooks a bit of time but here I am.

The problem is caused by a `ColorZone` with opposite `Mode` in respect to the theme.

As you can see, `DatePicker` 's `Popup` don't inherit `Background` color from the `ColorZone` control,
But instead inherit `Foreground` color.

So you're having a light `Background` (coming from the theme) and a white `Foreground` coming from the `ColorZone`.

At the

[2020-11-02 18:34] stephenburrows commented on #1905
@quicoli could you post your solution to this issue please

[2020-11-03 05:47] Keboo commented on #2155
@dongyaosheng I suspect the issue is that the routed command cannot find a DialogHost instance in the visual tree to use as the handler for the OpenDialogCommand. I added more information to the [wiki](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/FAQ#when-attaching-routed-command-such-as-dialoghostopendialogcommand-my-button-shows-as-disabled) as well.

[2020-11-03 05:53] Keboo commented on #2152
I think @artipo description is correct. There is not a great solution when using the ColorZone. The ColorZone is largely intended to be a simple way to place swaths of theme colors in the app. As an alternative you can simply use the `Border` control and apply the appropriate theme brushes to it.

[2020-11-03 09:02] quicoli commented on #1905
[calendar.txt](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/5480199/calendar.txt)

complete style is in file above.

[code]

[2020-11-03 10:13] stephenburrows commented on #1905
@quicoli  thanks will give a whirl

[2020-11-03 10:33] HClausing opened #2159 "Flat and Outline Buttons Background are strange on Mouse Over"
Hi all,

I've updated MDIX package on my experimental app to version 4.0.0-ci2206 (tried with 4.0.0-ci2191). After the update, all of my Flat and Outlined Buttons (default, with no Primary or Accent backgrounds) get's a strange background on mouse over. I think that Opacity on converter not worked.

Please take a look on example below:

![FlatAndOutlinedButtons](https://user-images.githubuserconte

[2020-11-05 13:48] jotunskij commented on #2152
Thanks for the feedback! I'll try finding a way around it.

[2020-11-05 13:48] #2152 closed

[2020-11-05 21:52] Keboo commented on #2159
I will have a fix coming in for this later today. The issue appears related to localization.

[2020-11-06 05:10] #2015 closed

[2020-11-06 12:50] HClausing commented on #2159
Right. Thank you so much for the help.

[2020-11-06 15:35] #2159 closed

[2020-11-08 09:30] Lorymi commented on #1646
@Keboo @jamalhosseini Any news?

[2020-11-10 07:16] soltesdavid opened #2165 "materialdesign hintasist foreground color does not change"
Foreground color of hint does not change.
Here is my code:

Defaults.xaml and BundledTheme resourcedictionaries are implemented in App.xaml
Here is my code:
[code]
Thanks for your help

[2020-11-10 18:49] adammichel13 opened #2166 "Time Picker value does not set when clicking Minutes only."
When using the Time Picker, if the user clicks the minutes at the top of the modal it will not set the value after the minutes have been selected. This only happens when clicking through to the minutes section without selecting the hour first.

[2020-11-11 14:16] henrihein commented on #2000
I had the same problem, even after updating my versions of the Material Design packages in NuGet. This was per 11/10/2020. I solved it by following these steps:
1. Close solution.
2. Manually remove the Material Design packages from packages.config.
3. Open solution.
3. Add Material Design packages with NuGet.
4. Rebuild solution.
Posting here in case this helps others out.

[2020-11-11 15:44] smkanadl opened #2167 "Add Support For .NET 5.0"
As .NET 5 has finally arrived, are there any plans to support net5.0 or net5.0-windows as TFM in the nuget packages?

[2020-11-11 16:30] Keboo commented on #2167
Yes. I am planning on adding support shortly. However, it is worth mentioning that you can still reference the existing NuGet packages from a net5 app without issue.

[2020-11-12 02:15] ycccq commented on #2137
I have the same problem,have you fix it?

[2020-11-12 07:12] XiaofengdiZhu commented on #2137
No, I haven't.

[2020-11-12 07:42] jairbubbles commented on #2125
We have the same issue in our application.

More over it looks similiar to the blurry text menu issue we've been experiencing too. Maybe we can try a similar hack?
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/pull/2053/files

[2020-11-12 10:17] jairbubbles commented on #2125
@stigrune Indeed the `ArdornerDecorator` was provoking the issue, I'm not sure why it's needed there I kept the border with the edge and it still looks good.

[2020-11-12 18:07] Keboo commented on #2137
I have a PR in the works that will eliminate paket from the project in favor of just using NuGet directly. This should eliminate the issues people run into with paket and the timing of when it gets run. https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/pull/2160

[2020-11-13 06:01] visualczm commented on #2038
@ben1976de
soo do i ,  solved it?

[2020-11-13 06:56] #2148 closed

[2020-11-13 06:56] #2042 closed

[2020-11-13 06:56] #2014 closed

[2020-11-13 06:57] Keboo commented on #1993
Paket has now been removed please see the latest requirements for compiling from source: https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Compiling-From-Source

[2020-11-13 06:57] #1993 closed

[2020-11-13 06:58] Keboo commented on #2137
Paket has now been removed please see the latest requirements for compiling from source: https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Compiling-From-Source

[2020-11-13 06:58] #2137 closed

[2020-11-13 06:58] Keboo commented on #1901
Paket has now been removed please see the latest requirements for compiling from source: https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Compiling-From-Source

[2020-11-13 06:58] #1901 closed

[2020-11-13 06:58] Keboo commented on #1770
Paket has now been removed please see the latest requirements for compiling from source: https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Compiling-From-Source

[2020-11-13 06:58] #1770 closed

[2020-11-13 06:59] Keboo commented on #659
This should be resolved with the latest 4.0.0 preview releases

[2020-11-13 06:59] #659 closed

[2020-11-14 07:46] ProtocolSaletum opened #2168 "DialogHost not explaining well"
The dialoghost wiki is not explaining how to make a dialog and with textbox that you can input text, and when you close the dialog,, there should be a tutorial to how to link a event and run some code, and i dont know anything about XAML, and it is not showing me how to do it in full c#.

[2020-11-14 17:57] Keboo commented on #2168
I have several samples [here](https://github.com/Keboo/MaterialDesignInXaml.Examples/tree/master/DialogHost) perhaps the CodeBehindExample is what you are looking for?

[2020-11-16 08:13] omllmo opened #2169 "Artifacts when displaying DialogHost"
Artifacts when displaying DialogHost
`<materialDesign:DialogHost Grid.Row="1" Grid.Column="1">
    <materialDesign:DialogHost.DialogContent>
                        <Grid>
                            <Grid.RowDefinitions>
                                <RowDefinition />
                                <RowDefinition Height="Auto"/>
                            </Grid.RowDefinitions>

[2020-11-16 18:27] mkruijver commented on #2169
This is likely a duplicate of https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/issues/1198 and https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/issues/1097

See https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/issues/1097#issuecomment-434996088 for a workaround

[2020-11-17 06:55] visualczm commented on #2038
@ben1976de
[code]

[2020-11-17 07:07] punker76 commented on #2038
@ben1976de @visualczm The reason for the first screenshot is, that the DialogHost uses a Popup to show the dialog. Popups are always on top of the window.

[2020-11-17 07:28] visualczm commented on #2038
@punker76  thank you for the answer

@ben1976de question  ie.
run demo app
setup1:
select dialogs page , click sample4 run like ie.
![image](https://user-images.githubusercontent.com/22953065/99358310-4b8d3080-28e8-11eb-8e83-29ac6b15a645.png)

setup2:
select others page , then go back , dialogs content lost, but dialogs exist ie.
![image](https://user-images.githubusercontent.com/22953065/99358971

[2020-11-17 10:23] HClausing commented on #2167
By the moment, I'm working with the MDIX packages normally on my .net5 WPF app.

[2020-11-18 01:53] nejcgalof opened #2170 "Set floating scale for HintAssist.HelperText"
Adjustable font size for materialDesign:HintAssist.HelperText. materialDesign:HintAssist.FloatingScale change only materialDesign:HintAssist.Hint. Would be great to set somehow HelperText too.

[2020-11-18 04:20] Keboo commented on #2170
I believe the best fix for this issue is to include a new `HintAssist.HelperTexFontSize` attached property. This property should then be consumed on the various controls that also use `HelperText`.

[2020-11-18 14:50] reyntjesr opened #2172 "Can't build MaterialDesignToolkit.Wpf.slnf"
I did a git pull on the master branch and tried to build the project.

But now I get 12 errors like below:
`Error	NU1008	Projects that use central package version management should not define the version on the PackageReference items but on the PackageVersion items: System.Data.DataSetExtensions;System.Security.Cryptography.Algorithms;System.Security.Cryptography.X509Certificates;xunit.abstraction

[2020-11-18 15:04] Keboo commented on #2172
@reyntjesr can you check again on latest master? I just merged a change that I believe addresses it. In short we are using new central NuGet package management to try and keep things simple, but one of the projects was missing the needed references.

[2020-11-18 15:20] reyntjesr commented on #2172
The number of errors went down from 12 to 10 :-)

Below is a list of the rest of the errors:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1008	Projects that use central package version management should not define the version on the PackageReference items but on the PackageVersion items: System.Data.DataSetExtensions;AvalonEdit;ControlzEx;Microsoft.Xaml.Behaviors.Wpf;Micr

[2020-11-18 15:46] bombipappoo commented on #2172
If you had previously built on the same working tree, run "git clean -Xfd" to remove the previous output.

[2020-11-18 15:50] reyntjesr commented on #2172
It works! Thank you!

[2020-11-18 15:50] #2172 closed

[2020-11-19 01:58] omllmo commented on #2169
Thank you for your help

[2020-11-19 01:58] #2169 closed

[2020-11-19 16:31] Tenjim opened #2175 "PopupBox : Click twice to open a second PopupBox"
Hi guys,

I have a app with several PopupBox in PopupMode="Click".
I have an issue when I want to click to an other PopupBox. I need to click twice to switch on the second.
First click to close the first popup and the second click to select the second popup.

For example in your demo app ( MaterialDesignInXamlToolkit\MainDemo.Wpf ) :

![demowpfApp](https://user-images.githubusercontent.com/1145628

[2020-11-19 16:55] #2166 closed

[2020-11-20 08:58] seokhoyoun opened #2178 "DataGrid Resouce not found"
I made a datagrid with autogenerated column.
and it seems worked perfectly.
but I found an exception when I click datagridcells in datagrid. (first click is fine, click next cell, it happens)
exception message shows ```"System.Windows.ResourceDictionary Warning: 9 : Resource not found"```
I tried to add this to my UserControl Resources ```........../MaterialDesignTheme.DataGrid.xaml />```
but it's

[2020-11-20 09:24] valimaties commented on #835
This happened to me couple of days ago.. I didn't know about this problem of Flipper, which after two years seems to be there! This is very annoying and disappointing!

[2020-11-23 23:37] FooPenguin opened #2179 "Incorrect ComboBox DropDown position with ScaleTransform"
Hi,
I noticed some awkward behavior with ComboBoxes when i use ScaleTransform. When i open DropDown, label with selected value in combobox is shifted. Only combo box with classic mode enable looks correct.

[code]

![image](https://user-images.githubusercontent.com/9827932/100026659-7d702c80-2deb-11eb-9f97-d4c5c1cd7b7a.png)
![image](https://user-images.githubusercontent.com/9827932/100026696-8bbe4

[2020-11-25 11:45] FooPenguin commented on #2179
#1224

[2020-11-25 14:49] FooPenguin commented on #2179
I'm fix the problem and add PR #2180

[2020-11-29 20:13] nejcgalof opened #2182 "Validation error message in textbox not show if validation falls at the beginning"
If we look in demo fields, more specific "NameTextBox", error message is not shown, but line is red.
I do some tests and it shown when valid status change (from false at the beginning to true and then to false again).
If we create validation rule, where we check if length of text in textbox is bigger then 2, error not shown even if we type first letter.

Expected: If the line (textbox) is red, the

[2020-11-29 20:23] KHALED-LAKEHAL commented on #2182
[code]

[2020-12-03 07:56] WeixiangZhang opened #2183 "resource could not be resolved in WPF in VS2019"
Version: MaterialDesignTheme 3.2 via Nuget
VS2019: v16.8.2

I setup project following Getting Started.
But the resources could not be resolved in designer, but it‘s ok when running.

And use VS2015 to open this VS2019 solution,  the resources can be resolved in designer.

How to fix this? Thanks.

![error](https://user-images.githubusercontent.com/11531781/100980128-bf356b80-357f-11eb-9fd6-3ddf648

[2020-12-03 10:15] fei-678 opened #2184 "Add the ripple effect within the size range of the button"
Hello.I want the button to achieve the water ripple effect, but not the water ripple of the entire screen, only the water ripple within the size range of the button.How  should  I do it?thank you .

[2020-12-04 10:05] phantomfuxor opened #2185 "Reuse PackIcon"
Is it possible to reuse Icons?

I have this snippet in resource dictionary.
![image](https://user-images.githubusercontent.com/175284/101150317-610c9500-3620-11eb-8656-328b67978a8f.png)

Then i create a window that merges that res dict, and has 2 buttons. Both buttons have content set by dynamicresource to that Key.
In designer it looks fine.
When i run the app first (left) button has icon, the ri

[2020-12-04 14:27] eijjxx opened #2186 "drawerhost DrawerClosing event only work when close one drawer by use command"
when click other place to close drawer or use close all drawer command
the  DrawerClosing  event doesn't work

[2020-12-05 16:22] SandnerSoft commented on #2183
Hello,

same issue here.

[2020-12-05 19:50] SobirjonovSodiqjonovich commented on #1187
how i find rebuild app this toolkit

[2020-12-05 19:52] SobirjonovSodiqjonovich commented on #1187
i am very interesting that.
But i don't rebuild this in vs2019
unfortunately
i have two problem

[2020-12-06 16:58] MoshiMoshi0 opened #2187 "ComboBox ClearButton not clickable"
I updated to latest ci build (4.0.0-ci2273) and noticed that you can no longer click on the clear button of comboboxes, if you click it, it opens the combobox popup as if the click is passing thru it. The clear button also has some z-index issues as it appears always on top.

Im assuming this bug was introduced in #2072, and is easily reproducible in the "FieldsLineUp" page in the demo project.

!

[2020-12-07 03:28] Keboo commented on #1187
@SobirjonovSodiqjonovich unfortuently you will need VS 2019 if you want to compile from source. Specifically you will need v16.8 or later, the C# 9 compiler is required, with .NET 5.0.100 SDK or later installed

[2020-12-07 03:33] Keboo commented on #2183
A few follow up questions.
1. `MaterialDesignIconButton` is an optional style, so you will need to explicitly reference the Buttons resource dictionary (example [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/d36ee6658ef42d0d45c4c0d36838514c48f6f042/MainDemo.Wpf/Buttons.xaml#L18)). For more information on this see [this wiki page](https://github.com/MaterialDesignIn

[2020-12-07 03:53] WeixiangZhang commented on #2183
@Keboo
I followed Quick Start to setup.
![1](https://user-images.githubusercontent.com/11531781/101307496-99131280-3882-11eb-9092-9b1c107d6887.png)

VS2019 info:
![2](https://user-images.githubusercontent.com/11531781/101307511-a5976b00-3882-11eb-852b-710689c0250e.png)

Net framework info:
![3](https://user-images.githubusercontent.com/11531781/101307543-b34cf080-3882-11eb-9469-7269c2d7d406.png)

[2020-12-07 03:59] WeixiangZhang commented on #2183
@Keboo In my tests, this issue is caused by **x64 platform**.

In VS2019,  set platform to **x64** will cause this issue and even set back to **Any CPU or x86**, it will not recover.
Clean and rebuild resolution will not work.
![4](https://user-images.githubusercontent.com/11531781/101307753-26eefd80-3883-11eb-93ed-929673323985.png)

But in VS2015, set back to **Any CPU**, it works and resources c

[2020-12-07 15:02] Keboo commented on #2185
This is a common thing with WPF. If you put a control in a resource dictionary that is a single instance of the control. If you want to effectively have something you can stamp into different places. The trick here is to use a template and use that in multiple places. That is the generic way to solve the issue.
However if you are just concerned with PackIcons you could simply wrap up all of those

[2020-12-07 15:09] phantomfuxor commented on #2185
Yes we've found out the solution to use x:Shared="false" in Resource dictionary which then makes the icon recreate on each retrieval, which works fine. It's a bit more memory use but not really a problem. I thought that PackIcon could be used as a Resource since it was using drawing techniques behind the scenes.

[2020-12-07 15:12] Keboo commented on #2185
Great! Yea that would work as well. The issue with a shared resource is it is using a full control to be able to allocate the space needed for rendering.

[2020-12-07 15:12] #2185 closed

[2020-12-07 15:27] MoshiMoshi0 commented on #2187
Just to update, the main issue seems to be `Panel.ZIndex="1"` on the `MaterialDesignFloatingHintComboBoxTemplate.Grid.ToggleButton`. Removing the ZIndex makes the ClearButton clickable but the ComboBox popup does not work.

While I tried to look for a fix but I also found a few more issues with that PR. I assume that the reason for #2072 was to keep the look of those controls consistent, but they

[2020-12-07 15:45] Keboo commented on #2187
This is really great information! Thank you for digging into it.

[2020-12-07 15:59] #740 closed

[2020-12-07 16:03] Keboo commented on #2186
Reproduction steps in the demo app
1. Add a DrawerClosing event handler to the DrawerHost inside of Drawers.xaml. The event handler can be an empty method.
2. Add a break point to the event handler
3. Run the demo app and open the Drawers page. Open one of the drawers and click on the "CLOSE THIS" button.
Observed: The break point in the event handler is hit.
4. Open on the drawers and click on th

[2020-12-07 16:04] Keboo commented on #2184
@fei-678 can you explain a bit more of what you are looking for? The existing button controls have the ripple effect and it should be constringed to be just within the size of the button.

[2020-12-07 16:07] Keboo commented on #2178
Hi @seokhoyoun can you provide the full exception details or ideally a project that reproduces the issue?

[2020-12-07 16:10] Keboo commented on #2143
Hi @TysonMN sorry for the long delay on this. Yes I agree the wording is misleading. Feel free to update the wiki as you suggested!

[2020-12-08 02:19] fei-678 commented on #2184
hello. Now that the project clicks on the button, the entire interface will flash, as if waves fill the entire interface. I don’t want this. I want to display waves within the size range of the button.Thank you.

[2020-12-08 04:55] Keboo commented on #2184
@fei-678 are you able to provide a project or screen recording of what you are seeing. I am not able to reproduce that issue.

[2020-12-08 13:59] LePtitDev opened #2188 "Expanders in ListView broken when using VirtualizingPanel"
Since version `3.2.0`, collapse an expander in `ListView` hide items after this expander. I configured `VirtualizingPanel` in the list view.

### Demonstration of the bug

![capture](https://user-images.githubusercontent.com/23695924/101491620-43169b80-3964-11eb-9c4c-3b3a9028f321.gif)

### Sample of the bug

I created a repository on GitHub [here](https://github.com/LePtitDev/MaterialDesignSamples

[2020-12-08 15:57] Keboo commented on #2188
Very well written bug. Thank you!

For historical reference here is the zip of the above reference projects.
[MaterialDesignSamples-main.zip](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/5660318/MaterialDesignSamples-main.zip)

[2020-12-10 05:25] DevloperRyan opened #2189 "Updated MaterialDesignThemes to 3.2.0, ButtonAssist no longer exists and BundledTheme does not exist, and more"
My solution targets 4.7.2, and I'm using Visual Studio 2017.

I've uninstalled and reinstalled, still no dice.

I was previously on MaterialDesignThemes 2.6.0 where everything worked.

![image](https://user-images.githubusercontent.com/31998192/101725172-bfe56a80-3a75-11eb-96dc-962d01dba627.png)

These are all of the errors preventing me from building after updating.

[2020-12-10 06:15] Keboo commented on #2189
Hi @Ryyval
Can you check your output logs. First increase the output level to Detailed by going to Tools>>Options>>Build and Run and changed the drop down under MSProject build output verbosity.

I suspect there is some compile error that is causing you see those errors.

[2020-12-10 16:08] Xaalek opened #2190 "Submenus (MenuItem) are not properly aligned"
Hello,
As you can see on my screenshot, submenus (MenuItem) are not properly aligned.
I don’t know if it’s intentional, but I think it's an issue.

![image](https://user-images.githubusercontent.com/54487782/101797198-0a182b80-3b0a-11eb-9231-cacc294e81b5.png)

[2020-12-10 17:03] Keboo commented on #2190
Agreed this is a bug. Based on the [spec for Cascading menu](https://material.io/components/menus) child list items should have the first item lined up with the parent item.

[2020-12-10 20:00] Ryyval commented on #2189
Keboo, I don't want to keep you waiting. Since the update didn't work, I've slated the update for a later time until I can gain more information on why it's not working , which is why I posted here.

I will take what you said and do that , but it won't be this week. I'll respond here when I get a chance to perform an update once again, thanks man 👍

[2020-12-10 20:17] Keboo commented on #2189
@Ryyval no problem. Thanks for the update.

[2020-12-11 12:37] #2178 closed

[2020-12-12 06:34] greuelpirat commented on #2187
I am working on this.

[2020-12-12 09:38] artipo commented on #2170
I'll try to implements your guidelines.

[2020-12-13 08:03] greuelpirat commented on #2187
Fixed with #2193:
* ComboBox ClearButton not clickable
* ClearButton gets cropped, but not on ComboBox
* There are 3 different heights of controls, TextField+PasswordBox, ComboBox, DatePicker+TimePicker

About other issues:

I think this is due to the different layouts.

Looks like this comes from the icon itself. I would not fix this via layout arrangements.

The Padding can be easily set. If the

[2020-12-15 08:00] #2187 closed

[2020-12-17 06:01] Neon-Fox opened #2194 "[HELP] All objects added to an IDictionary must have a Key attribute or some other type of key associated with them."
#I am getting this error:
All objects added to an IDictionary must have a Key attribute or some other type of key associated with them.

https://prnt.sc/w4g43z

I am not sure how to fix this. Please answer or tell me on discord: Neon_ Fox#4237
(Ignore the error and warn count.. it is other stuff)

Code:
`        <ResourceDictionary>
            <ResourceDictionary.MergedDictionaries>

[2020-12-17 06:35] Keboo commented on #2194
@Neon-Fox it looks like you have both an implicit resource dictionary as well as an explicit one.
Move the style that ends on line 1513 (and anything else) in the resource dictionary, **inside** of the resource dictionary you declared on line 1514.

[2020-12-17 11:52] hussain1368 opened #2195 "How to extend functionality of controls"
Hi,
Is there any way to extend the functionality of any of the controls. For example I need to add persian date to the Datepicker control.
Appreciate if you can guide how to do that

[2020-12-18 09:06] Neon-Fox commented on #2194
Thanks my dude. That worked.

[2020-12-18 15:32] #2194 closed

[2020-12-18 17:55] TysonMN commented on #2143
I updated the wiki.  In addition to adding the example, I changed the title as well.  Then I updated the reference to that page in the sidebar.

Here is that content on its newly renamed page:
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/wiki/Overriding-Material-Design-Styles

Here are diffs of my changes:
- [sidebar revision](https://github.com/MaterialDesignInXAML/Material

[2020-12-19 21:48] TysonMN opened #2196 "Broken binding errors after clicking on DataGrid header"
Under a particular set of circumstances involving Material Design in XAML, clicking the header of a `DataGrid` causes WPF to log nine warnings to `PresentationTraceSources.DataBindingSource`.

As far as I can tell, each of the following is necessary (i.e. this is a minimal working reproduction).
1. A `ResourceDictionary` containing the lines for colors and themes of Material Design in XAML as give

[2020-12-19 22:07] TysonMN commented on #2196
The entry-point of my application is a `static Main` method (instead of through [`Applicaiton.StartupUri`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.application.startupuri)) because I use [Elmish.WPF](https://github.com/elmish/Elmish.WPF).

My entry point instantiates the singleton `Application` and sets its `Resources` to those in that `ResourceDictionary` as a workaround to issu

[2020-12-20 22:19] nejcgalof commented on #2182
I fix it with PR #2197

[2020-12-21 21:10] TysonMN commented on #2196
The three paths among those errors are `Foreground`, `HorizontalGridLinesBrush`, and `GridLinesVisibility`.  The second two are rare enough that I can list all references.  All fives references to `HorizontalGridLinesBrush` and four references to `GridLinesVisibility` occur in these four code snippets.

https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/c36307b01f5a47f0b9cf1e

[2020-12-22 13:26] Xaalek commented on #2196
Same, my application crashes when I click on the header. I have this issue when columns are autogenerated. If columns are not autogenerated, I don't have any problem

[2020-12-22 13:28] TysonMN commented on #2196
@Xaalek, can you share link to a repo or ZIP that reproduces the behavior you describe?

My application doesn't crash, so your issue might be a different problem (but I am still interested to see your reproduction).

[2020-12-22 13:43] Xaalek commented on #2196
@TysonMN I'm running my application without debugger (ctrl + F5), maybe you can try with your app and see what happens

[2020-12-22 13:56] TysonMN commented on #1055
I just tried and failed to reproduce the behavior you describe.  Maybe this issue was fixed.  @DK-93, can you test again on the head of `master`?

I tested using the `MaterialDesignDemo` project.  On the `Data Grids` screen and under `Custom Columns`, the column with header `Name` is using `MaterialDesignDataGridTextColumnPopupEditingStyle`.  When interacting with the column, I didn't experience a

[2020-12-22 13:59] Xaalek commented on #2196
System.Windows.Documents.Run is not a Visual or Visual 3D object
![image](https://user-images.githubusercontent.com/54487782/102896053-13888880-4466-11eb-8e3d-34b0aa004f19.png)

[2020-12-22 14:00] TysonMN commented on #362
Can you provide link to a repository or attach a ZIP with executable code containing the behavior that you describe?

[2020-12-22 14:06] Xaalek commented on #2196
I don't know why but when I change the header of the columns it fixes the issue.

[2020-12-22 15:44] TysonMN commented on #2196
When executing the EXE in the `bin` directory, neither my MWE (linked above) or my application at work crash when clicking on the header of the `DataGrid`.

@Xaalek, if you provide _executable code_ that reproduces the behavior you describe, then I will look into your problem.  I don't know how to test only using the code snippets that you provided.

_However_, for both my MWE (after adding a popu

[2020-12-22 15:59] redcurry commented on #362
Sorry, I'm no longer working on the project with the issue and I no longer have access to the code. You may close this issue if you want.

[2020-12-22 16:09] Keboo commented on #362
Closing for now. If anyone comes across details for it, please comment.

[2020-12-22 16:09] #362 closed

[2020-12-22 16:11] Xaalek commented on #2196
@TysonMN My code is in VB .Net and I'm using a DataBase to populate my datagrid. So it would be complicated to test it.

But here is my code is C#

SqlCommand cmd = new SqlCommand();
cmd.CommandText = "SELECT * FROM temp_rech_dossier_route";
cmd.Connection = connSQLServer;
SqlDataAdapter da = new SqlDataAdapter(cmd);
DataTable dt = new DataTable("RECH");
da.Fill(dt);
DataGridRech.ItemsSource = dt.

[2020-12-22 16:14] TysonMN commented on #2196
I am not sure I could correctly do all that...but if you are willing to provide a [minimal working example](https://en.wikipedia.org/wiki/Minimal_working_example), then I will test it.

[2020-12-22 18:51] TysonMN commented on #2196
I created [this issue](https://developercommunity2.visualstudio.com/t/Binding-errors-when-running-in-Visual-St/1294226) on Visual Studio Developer Community about the different behavior when running through Visual Studio and vs directly running the EXE.

[2020-12-22 20:16] TysonMN commented on #2196
These are the five styles with `DataGrid` in their name.
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/c36307b01f5a47f0b9cf1ede8adb4d7ca5546a34/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.Defaults.xaml#L58-L62

If I comment out the first four and just leave `DataGridRowHeader`, then only the six binding errors for `HorizontalGridLinesBrush` and `GridLinesVisibili

[2020-12-22 20:21] TysonMN commented on #2196
I figured out a workaround for my case.  I just realized that Material Design in XAML publishes a (pre-release) NuGet package each time a pull request is completed.  I have updated to the latest pre-release, which includes a fix for #2040, and then used the quoted workaround (which, in my case, is to simply not set the `Resources` of `Application`).

I will no longer be actively investigating this

[2020-12-28 06:40] #2179 closed

[2020-12-28 10:27] VShawn opened #2199 "ComboBox bottom shadow not display when bottom is on a textblock"
here is the demo app's screen short:

![image](https://user-images.githubusercontent.com/10143738/103207829-433e0180-493a-11eb-80e2-10483300d462.png)

![image](https://user-images.githubusercontent.com/10143738/103207841-4afda600-493a-11eb-89a9-ada2289f0026.png)

![image](https://user-images.githubusercontent.com/10143738/103207845-4df89680-493a-11eb-821e-da6d9bf92619.png)

[2020-12-29 07:21] johnny3577 opened #2200 "TabControl header layout is vertical when "TabStripPlacement" set to "Top" or "Bottom". Is "Horizontal" better?"
https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/aaa1a39a3a4f75d708d6a338de1902b5364a2f3e/MaterialDesignThemes.Wpf/Themes/MaterialDesignTheme.TabControl.xaml#L377

[2021-01-01 00:08] jizc commented on #2165
I tested this in the demo app, and initially I had the same issue.

However it seems to be a Hot Reload issue, that you can't change the foreground brush while the app is running.
When I rebuilt the app after the XAML change, the foreground brush changed as expected.

**Note** that the hint foreground brush is only applied when the textbox has keyboard focus.

[2021-01-02 15:55] jizc commented on #1939
I think it would be a good idea to change the default to show the selected item. It could be added as a "breaking" change in the 4.0.0 release.

Anecdotally I have already had to make this change is our application, because our users were often confused by not seeing the selected item in the dropdown list.

[2021-01-03 02:17] jizc opened #2203 "Incorrect floating hint position on outlined text box"
After #2193, anytime an outlined text box is not the default height (like with multiline text, or when a fixed height is set), the floating hint is not positioned correctly.

This screenshot is from the `Fields` page in the demo app, where the text box `Height` is set to `100`.
![image](https://user-images.githubusercontent.com/1404846/103470123-4ab43f00-4d6e-11eb-8ec0-87e1e025bcc8.png)

Here is a

[2021-01-04 00:37] jizc commented on #1705
I think we should consider removing text field styles that only has an underline, with no fill or outline, i.e. `MaterialDesignTextBox`.

The reasoning for this is that they are no longer part of the spec. They were removed because research, conducted by Google, showed that users had trouble understanding that the line is an input field. It was often confused for a divider, and hint/label text was

[2021-01-04 00:41] Keboo commented on #1939
@jizc I agree, I think changing the default as part of 4.0.0 makes sense.

[2021-01-04 00:45] Keboo commented on #1705
@jizc I agree. I think the default should be changed to be the filled. There are not specific styles for the "not filled" (default) TextBox style that exists right now, since it is largely implemented with an attached property (`TextFieldAssist.HasFilledTextField`).
I think simply changing the default to be filled, but leave the attached property in place so if people really want the old look they

[2021-01-04 01:47] #1613 closed

[2021-01-04 03:30] Keboo commented on #2200
I believe this is fixed by #2181

[2021-01-04 03:30] #2200 closed

[2021-01-04 03:35] Keboo commented on #2195
Because this library mostly consists of styles for the built-in WPF controls, you are limited to the functionality provided by those controls. I would suggest taking a look at [handyControls](https://github.com/ghost1372/handyControls) or [PersianToolkit](https://github.com/ghost1372/PersianToolkit) to get a control that supports what you need.

From there you will likely need to create a new cont

[2021-01-04 03:37] Keboo commented on #2182
Closed by #2197

[2021-01-04 03:37] #2182 closed

[2021-01-04 17:25] LoRdPMN commented on #2196
I reported steps to reproduce this issue here #2134, with possible solution but, unfortunately, I had no time to work on it. You can grab it if you want.

[2021-01-04 18:10] TysonMN commented on #2196
Both this issue and #2134 include clicking on the header of a `DataGrid` as a reproduction step.  Then they continue separately by describing different issues that result.  Do you think they have more in common?  For example, do you think they might have the same fix?

[2021-01-04 19:17] LoRdPMN commented on #2196
I don't think so... I have a lot of complex DataGrids, including ones with custom headers and none of them are causing binding warnings.
Did you tried my workaround on #2134?
I saw that you are using the 3.2.0 version, can you try to reproduce using the lastest pre-release version?

[2021-01-04 19:26] LoRdPMN commented on #2196
I figured out the cause of your issue on your repo 😃
You are merging "MyDictionary.xaml" both into your App.xaml and Window.xaml.
Merging it into App.xaml is enough for the whole application, so if you just remove

[code]

it works as expected!

[2021-01-04 20:37] TysonMN commented on #2196
Testing the latest prerelease is a good idea.  I didn't think of that.  I just tested version `4.0.0-ci2347`, but the bad behavior remains.

I just did, but the bad behavior remains.

Sure.  As I stated in https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/issues/2196#issuecomment-749757926, I was able to avoid this bug by _not including_ `MyDictionary.xaml` in `App.xaml` and _inc

[2021-01-05 02:58] TysonMN opened #2207 "Increase size of hit/touch target"
In my program at work, we are making WPF application that will be used on a touch screen.  As such, we think it would be useful if some of the hit targets (aka touch targets) for certain controls were a bit larger than their visual appearance.  For example, I think it would be better for touch screen users if the hit target of the thumb on a slider where larger.  I tried looking at the existing AP

[2021-01-05 11:47] LoRdPMN commented on #2196
I can't tell exactly without digging deep into the library code, but probably it sets some animations bindings with relative source on the fly, so doing it twice probably is breaking it.
Also it is best to not create duplicate resource allocations by merging it again.

Sorry I didn't see that, but anyways, I think the best is to merge it on App.xaml instead of each view, unless you need views with

[2021-01-05 20:17] TysonMN commented on #2196
No problem.

Interesting.  There is an arrow that rotates 180 degrees (to point up or down) when clicking on the header.  That is a lead for someone to investigate at some point.

I don't typically have an `App.xaml` file since I use [Elmish.WPF](https://github.com/elmish/Elmish.WPF).  See, for example, the [`SimpleCounter` sample](https://github.com/elmish/Elmish.WPF/tree/master/src/Samples/Singl

[2021-01-06 15:37] DMX-David-Cardinal commented on #1743
I am getting the same issue in Visual Studio 16.8 and a .NET 5.0 project.

My use case is slightly different but the error is the same (code compiles and runs as intended, but the designer gives a XDG0062 error):

[code]

[2021-01-06 15:54] Xaalek opened #2208 "Is it possible to change the hint of a textbox in the code behind ?"
I know I can change the hint of a textbox in the xaml code using
![image](https://user-images.githubusercontent.com/54487782/103787953-943aad80-503e-11eb-8ef1-98d231edd836.png)

I would like to know if it's possible to change the hint using the property in the code behind.

I can't find the hint property in the environment
![image](https://user-images.githubusercontent.com/54487782/103788239-e4b20

[2021-01-06 19:09] AmRo045 commented on #2208
Try this:
[code]

[2021-01-07 06:46] Keboo commented on #2208
You can also see the relevant WPF docs for it [here](https://docs.microsoft.com/dotnet/desktop/wpf/advanced/attached-properties-overview?view=netframeworkdesktop-4.8#attached-properties-in-code-) as well.

[2021-01-07 07:11] Keboo commented on #1743
@DMX-David-Cardinal that looks like it is likely a designer bug. I would [submit a Visual Studio issue for it](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019)

[2021-01-07 08:16] Xaalek commented on #2208
Thank you very much !

[2021-01-07 08:16] #2208 closed

[2021-01-07 14:39] VasilijeBursac commented on #1035
Wow, this looks great! Have you managed to make it work completely? 😄  I would like to limit 30-minute appointments in TimePicker....

[2021-01-07 19:55] DMX-David-Cardinal commented on #1743
As suggested, I opened an issue here: https://developercommunity.visualstudio.com/content/problem/1304343/visual-studio-designer-typeconverter-cannot-conver.html

Will share any updates or fixes on the issue.

[2021-01-07 19:57] DMX-David-Cardinal commented on #1743
Thank you, seems I commented this in the wrong repo. My apologies

[2021-01-07 22:08] #2170 closed

[2021-01-07 22:39] VasilijeBursac commented on #1035
Can you please explain or provide a code for doing this? Thanks in advance! 😄

[2021-01-08 15:32] Reza-Noei commented on #1646
This Problem does not resolved yet 😢

@Keboo

[2021-01-09 07:53] 91270 opened #2209 "Problem with DialogContent"
The controls in DialogContent have shadows ，

![image](https://user-images.githubusercontent.com/61639203/104086431-f7bd1900-5292-11eb-8e7b-896e121b87fe.png)

**Version**

![image](https://user-images.githubusercontent.com/61639203/104086491-72863400-5293-11eb-8923-4a2d69890b03.png)

**Code**

    <Material:DialogHost  x:Name="DataLoading" DialogTheme="Inherit">
        <Material:DialogHost.Dialog

[2021-01-10 07:19] Erapchu commented on #2209
What if you try to not use mah apps window? Try to use common Window, not MetroWindow and show this dialog again.

[2021-01-10 07:59] Erapchu commented on #2207
Do you mean size of a point that can be dragged along the slider? For now i think you really can't increase a size of a thumb with an API of this framework. But you can increase width and height of thumb by customizing control template directly.
You can see how it implemented in
`MaterialDesignInXamlToolkit\MaterialDesignThemes.Wpf\Themes\MaterialDesignTheme.Slider.xaml`
And write your own templat

[2021-01-10 10:08] Erapchu commented on #2038
I think that when you switch between menus, dialog host (popup window) is totally vanishes and should be recreated.
May be just close all dialogs before switching to other menu?

[2021-01-10 21:30] Keboo commented on #2207
I believe @Erapchu is correct. Aside for rolling your own template for the thumb there is not a really an API exposed for increasing the hit target size. Typically the easiest way to do this is with an element that has a Transparent background (explicitly set to Transparent) so that the default [hit testing](https://docs.microsoft.com/dotnet/desktop/wpf/graphics-multimedia/hit-testing-in-the-visua

[2021-01-11 00:14] 91270 commented on #2209
Thank you, after testing, remove the MahApps window, the display returns to normal

[2021-01-11 02:42] Erapchu commented on #2209
I can't reproduce your issue with MahApps MetroWindow, please check that your merged dictionaries are correct.
You can find out all merged dictionaries here:
[App.xaml](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/master/MahMaterialDragablzMashUp/App.xaml)

[2021-01-11 08:26] 91270 commented on #2209
![image](https://user-images.githubusercontent.com/61639203/104159143-c165d200-5429-11eb-83be-1c8459fa63be.png)

[2021-01-12 13:18] hussain1368 opened #2210 "DataGrid Cell Editor loses material style when setting AutoGenerateColumns to False"
When `AutoGenerateColumns="True"` editor for cells has material design style. but when I set it to False and use `DataGrid.Columns` to define columns in the DataGrid the style changes.

![Captre](https://user-images.githubusercontent.com/36886947/104319083-fd6a6700-54fd-11eb-85c6-9ce774a782dc.PNG)

Thank you.

[2021-01-13 10:27] stany9g opened #2211 "DialogHost Show performance issues when using datagrid"
DialogHost Show is having a performance issue when switching between two dialogs that contain a DataGrid. Tested on two computers.

Steps to reproduce:
1. Button A -> DialogA (first init slow)
2. Button A -> DialogA (no problem, fast)
3. Button B -> DialogB (lags)
4. Button B -> DialogB (no problem, fast)
...
5. Button A -> DialogA (lag)
6. Button B -> DialogB (lag)
7. Button A -> DialogA (lag)
6.

[2021-01-13 14:22] Xaalek opened #2212 "ComboBoxes and others controls have a different size by default"
As you can see on my screenshot Comboboxes and others controls have a different size by default

![image](https://user-images.githubusercontent.com/54487782/104463675-5b588680-55b2-11eb-8e01-b3013fdbf3fb.png)

I think it would be more consistent if they had the same default size

[2021-01-13 15:11] ThomasMader commented on #2196
I am having the same problem but only when I collapse one of my columns.
It is initially collapsed. When I set it visible there are no problems. Only when I disable it I get two binding errors which is reproducable every time I collapse it again.

[code]

[code]

It also happens if I change the Visibility of the column via code behind.

[2021-01-13 15:57] TysonMN commented on #2196
@ThomasMader, can share a MWE that exhibits that behavior?

[2021-01-14 00:26] 91270 commented on #2209
Add           UseLayoutRounding = True
solved this problem

[2021-01-14 21:09] HeilOliver commented on #2210
I had exactly the same problem.
What was my mistake here is that a style was missing.

Each column must also have the style "MaterialDesignDataGridTextColumnEditingStyle".
Example:
[code]

[2021-01-15 15:18] Xaalek opened #2213 "Display issue with the MaterialDesignFilled style on TextBox"
As you can see, the controls with the filled style have an issue. Space is reserved for the hint even if there is no hint

![image](https://user-images.githubusercontent.com/54487782/104741937-22ebb080-574a-11eb-9598-0d96f1895cac.png)

So we end up having to make a control bigger than 66 pixels (height) and with a big blank space above the text.

The style concerned is : `MaterialDesignFilledTextF

[2021-01-15 15:32] #2212 closed

[2021-01-15 16:19] TysonMN commented on #2040
FWIW, I now know how to load Material Design in XAML as an application-level resource in my Elmish.WPF application.  See https://github.com/elmish/Elmish.WPF/issues/318.

[2021-01-15 20:10] mastermkar commented on #2040
Hello I want more need I have big problem if you like please send email to
me.I have network and now I fail all of control and admin and missing money.

On Fri, Jan 15, 2021 at 19:50 Tyson Williams <notifications@github.com>
wrote:

--
Cryptomaster Manager coin market cap in asia

[2021-01-16 06:33] Keboo commented on #2213
@Xaalek are you apply to provide some code that reproduces the problem?

[2021-01-16 06:35] Keboo commented on #2210
This is by design. When using the DataGridTextColumn the editing style must be explicitly set.

[2021-01-16 06:35] #2210 closed

[2021-01-16 06:37] Keboo commented on #2209
Great! Glad you were able to track down the issue. Closing for now as I don't believe there are any changed needed for this library.

[2021-01-16 06:37] #2209 closed

[2021-01-16 06:48] Keboo commented on #2211
Attaching zip for historical reference.
[DataHostDemo-master.zip](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/files/5823980/DataHostDemo-master.zip)

[2021-01-16 06:50] Keboo commented on #2211
Can confirm that I am able to replicate from the attached project. I believe the issue comes down to needing to know the target size of the content in order for the animation to work correctly. This problem gets compounded by the DataGrid wanting to know its maximum size so it can virtualize its elements.

I would suspect that a fix would involve manually measuring the control for the dialog befor

[2021-01-16 06:54] #2143 closed

[2021-01-16 06:54] #2195 closed

[2021-01-16 08:26] hussain1368 commented on #2210
Thank you @HeilOliver and @Keboo. It worked!

[2021-01-16 09:32] hussain1368 opened #2214 "Setting the SecondaryAccentBrush will not affect"
I am trying to set the background color of the button to red. I have done as below:
[code]
I also tried to set the value in App.xaml:
[code]
But still no affect. When I uncomment those two lines in the App.xaml the button turns light green (which is the default color for Accent button).

[2021-01-16 12:19] ThomasMader commented on #2196
Here you go. [1]
I took your example and reworked it to reproduce my problem. The problem appears only when MaterialDesignDataGridCell is used as CellStyle and MaterialDesignDataGridColumnHeader as ColumnHeaderStyle.

[1] https://drive.google.com/file/d/1Hig3byFZltPY4gJKXiFZZ3tahFCNS3px/view?usp=sharing

[2021-01-18 12:25] stany9g commented on #2211
@Keboo I did a little more investigation about the suggested fix and not sure if it is the right suspect.
1. I tried to remove the animation from the style, dit not help
2. A little debugging where I found that the "lag" happens when `DialogContent = content;` this line lags even though the content has set the actual sizes.

[2021-01-20 02:54] gagsti02 opened #2215 "Hint Assist Background not Working"
I tried Styling Outlined TextField but I can't bypass Hint Assist Background :

[code]

[2021-01-20 09:03] Xaalek commented on #2213
Just place a textbox and apply the MaterialDesignFilledTextFieldTextBox style on it

`<TextBox  Height="61" Margin="799,-6,140,0" Text="TextBox" VerticalAlignment="Top" Width="120" Style="{StaticResource MaterialDesignFilledTextFieldTextBox}"/>`

See what happens :

I put a textbox next to it, with the default style, to compare the two textbox

https://user-images.githubusercontent.com/54487782/10

[2021-01-21 17:14] lszczygielek opened #2216 "How to turn on vertical scroll bar for ListBox with style MaterialDesignChoiceChipAccentOutlineListBox"
Framework: **.NET 5**
Nuget version: **3.2.0**

I can't turn on vertical scrollbar for ListBox with style MaterialDesignChoiceChipAccentOutlineListBox.

I have a `ListBox` and I'm binding `ItemsSource` to `IList<T>` (I tried also to use `IEnumerable<T>`). I have a row with * as Height.

When I apply Style as `MaterialDesignChoiceChipAccentOutlineListBox` then I don't see vertical scrollbar if numb

[2021-01-22 11:46] MichelMichels commented on #2167
I am also developing WPF .NET 5.0 apps with the current library. Everything runs smooth.

[2021-01-22 13:28] lszczygielek commented on #2216
OK, I solved it by wrapping `ListBox` by `ScrollViewer` which is - I think - proper way to do such things.

[2021-01-22 13:28] #2216 closed

[2021-01-22 13:49] MichelMichels commented on #2213
Test with latest codebase:

![image](https://user-images.githubusercontent.com/6505319/105498455-86349000-5cc0-11eb-84d6-5c835dfbb183.png)

@Xaalek You have a static height set in your XAML of 23 and weird margin numbers on each TextBox. Maybe that has something to do with it.

[2021-01-22 15:06] MichelMichels commented on #2203
This is indeed a bug. But the problem isn't in the converter (but I also don't like the changes that were made to this converter, imo it's less readable now and there's more comments).

The problem resides in the MaterialDesignTheme.TextBox.xaml file. On line 241 and below you'll find following snippet:
[code]
The problem lies in the last Binding in the MultiBinding. When changing the Path propert

[2021-01-23 04:04] jizc commented on #2203
Thank you for looking into it and submitting a PR 🎉

[2021-01-23 05:58] Razique commented on #980
Hi,
I encountered the same issue while attempting to load an application.
I built upon @hedinjke's good work by removing unnecessary calls to the `Assembly.LoadFrom()` method. I noticed that your suggestion would lead to many unnecessary calls - in my case, the same assembly would be loaded 16 times or so.

Instead of using a `foreach`structure to iterate over the list of assemblies returned by:
[

[2021-01-23 06:05] Erapchu commented on #2215
Hi!
What are you want to do with Text field? Just change hint assist background, right? On my side all is fine. I can change hint assist backround with this attached property:
`<Setter Property="materialDesign:HintAssist.Background" Value="{StaticResource MainBackColor}"/>`

[2021-01-23 06:37] Erapchu commented on #2214
If you want to set background of only one button to red, you may set Background and BorderBrush properties to Red or SolidColorBrush with red color.
If you want to make accent color of all application as red, just change it in merged dictionaries.
Don't put solid color brush in app.xaml. Set it in Windows.Resources or in merged dictionaries in app.xaml with your brushes.xaml resource dictionary fo

[2021-01-23 07:04] Erapchu commented on #2199
![image](https://user-images.githubusercontent.com/37536541/105571558-67e39880-5d83-11eb-9426-2f7c8f57982c.png)
On my side all is fine. Last master commit for today.
Always visible.
![image](https://user-images.githubusercontent.com/37536541/105571607-d7f21e80-5d83-11eb-82d9-0b5adcdeee38.png)

[2021-01-23 07:07] Erapchu commented on #2199
I see that popup hasn't corner radius on your screenshots. Did you apply any additional libraries or set corner radius for popup somewhere?

[2021-01-23 07:22] Erapchu opened #2219 "Multiple ripple effect on buttons like in MaterialSkin for WinForms"
Ok, when you click on any control you may see only one ripple. Can we add multiple ripple effects?
For example I'll provide link to popular winforms material skin library:
https://github.com/IgnaceMaes/MaterialSkin
When you double/tripple click on a button you may see two/three ripples.